{% extends "layout.html" %}
  
{% block title %}model{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <link href="{{ url_for('static', filename = '../../../../static/css/drylab-model.css')}}" rel="stylesheet">

<body>
<p>yo yo yo</p>

<script> src="{{ url_for('static', filename = '../../../../static/js/drylab-mdoel.js')}}"></script>

</body>
</html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div id="graph"></div>
  </body>
<style>
  html, body {
    margin: 0;
    padding: 0;
  }
  #graph {
    vertical-align: top;
  }
</style>
<script>
Plotly.plot('graph', {
 data: [{
   x: [1, 2, 3],
   y: [2, 1, 3],
   line: {
     color: 'red',
     simplify: false,
   }
 }],
 layout: {
   sliders: [{
     pad: {t: 30},
     x: 0.05,
     len: 0.95,
     currentvalue: {
       xanchor: 'right',
       prefix: 'color: ',
       font: {
         color: '#888',
         size: 20
       }
     },
     transition: {duration: 500},
     // By default, animate commands are bound to the most recently animated frame:
     steps: [{
       label: 'red',
       method: 'animate',
       args: [['red'], {
         mode: 'immediate',
         frame: {redraw: false, duration: 500},
         transition: {duration: 500}
       }]
     }, {
       label: 'green',
       method: 'animate',
       args: [['green'], {
         mode: 'immediate',
         frame: {redraw: false, duration: 500},
         transition: {duration: 500}
       }]
     }, {
       label: 'blue',
       method: 'animate',
       args: [['blue'], {
         mode: 'immediate',
         frame: {redraw: false, duration: 500},
         transition: {duration: 500}
       }]
     }]
   }],
   updatemenus: [{
     type: 'buttons',
     showactive: false,
     x: 0.05,
     y: 0,
     xanchor: 'right',
     yanchor: 'top',
     direction: 'left',
     pad: {t: 60, r: 20},
     buttons: [{
       label: 'Play',
       method: 'animate',
       args: [null, {
         fromcurrent: true,
         frame: {redraw: false, duration: 1000},
         transition: {duration: 500}
       }]
     }, {
       label: 'Pause',
       method: 'animate',
       args: [[null], {
         mode: 'immediate',
         frame: {redraw: false, duration: 0}
       }]
     }]
   }]
 },
 // The slider itself does not contain any notion of timing, so animating a slider
 // must be accomplished through a sequence of frames. Here we'll change the color
 // and the data of a single trace:
 frames: [{
   name: 'red',
   data: [{
     y: [2, 1, 3],
     'line.color': 'red'
   }]
 }, {
   name: 'green',
   data: [{
     y: [3, 2, 1],
     'line.color': 'green'}]
 }, {
   name: 'blue',
   data: [{
     y: [1, 3, 2],
     'line.color': 'blue'}]
 }]
}, {showSendToCloud: true});
</script>
<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  
  <body>
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <script>
      Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv', function (err, data) {
    // Create a lookup table to sort and regroup the columns of data,
    // first by year, then by continent:
    var lookup = {};
    function getData(year, continent) {
      var byYear, trace;
      if (!(byYear = lookup[year])) {;
        byYear = lookup[year] = {};
      }
     // If a container for this year + continent doesn't exist yet,
     // then create one:
      if (!(trace = byYear[continent])) {
        trace = byYear[continent] = {
          x: [],
          y: [],
          id: [],
          text: [],
          marker: {size: []}
        };
      }
      return trace;
    }
  
    // Go through each row, get the right trace, and append the data:
    for (var i = 0; i < data.length; i++) {
      var datum = data[i];
      var trace = getData(datum.year, datum.continent);
      trace.text.push(datum.country);
      trace.id.push(datum.country);
      trace.x.push(datum.lifeExp);
      trace.y.push(datum.gdpPercap);
      trace.marker.size.push(datum.pop);
    }
  
    // Get the group names:
    var years = Object.keys(lookup);
    // In this case, every year includes every continent, so we
    // can just infer the continents from the *first* year:
    var firstYear = lookup[years[0]];
    var continents = Object.keys(firstYear);
  
    // Create the main traces, one for each continent:
    var traces = [];
    for (i = 0; i < continents.length; i++) {
      var data = firstYear[continents[i]];
     // One small note. We're creating a single trace here, to which
     // the frames will pass data for the different years. It's
     // subtle, but to avoid data reference problems, we'll slice 
     // the arrays to ensure we never write any new data into our
     // lookup table:
      traces.push({
        name: continents[i],
        x: data.x.slice(),
        y: data.y.slice(),
        id: data.id.slice(),
        text: data.text.slice(),
        mode: 'markers',
        marker: {
          size: data.marker.size.slice(),
          sizemode: 'area',
          sizeref: 200000
        }
      });
    }
  
    // Create a frame for each year. Frames are effectively just
    // traces, except they don't need to contain the *full* trace
    // definition (for example, appearance). The frames just need
    // the parts the traces that change (here, the data).
    var frames = [];
    for (i = 0; i < years.length; i++) {
      frames.push({
        name: years[i],
        data: continents.map(function (continent) {
          return getData(years[i], continent);
        })
      })
    }
    
    // Now create slider steps, one for each frame. The slider
    // executes a plotly.js API command (here, Plotly.animate).
    // In this example, we'll animate to one of the named frames
    // created in the above loop.
    var sliderSteps = [];
    for (i = 0; i < years.length; i++) {
      sliderSteps.push({
        method: 'animate',
        label: years[i],
        args: [[years[i]], {
          mode: 'immediate',
          transition: {duration: 300},
          frame: {duration: 300, redraw: false},
        }]
      });
    }
    
    var layout = {
      xaxis: {
        title: 'Life Expectancy',
        range: [30, 85]
      },
      yaxis: {
        title: 'GDP per Capita',
        type: 'log'
      },
      hovermode: 'closest',
     // We'll use updatemenus (whose functionality includes menus as
     // well as buttons) to create a play button and a pause button.
     // The play button works by passing `null`, which indicates that
     // Plotly should animate all frames. The pause button works by
     // passing `[null]`, which indicates we'd like to interrupt any
     // currently running animations with a new list of frames. Here
     // The new list of frames is empty, so it halts the animation.
      updatemenus: [{
        x: 0,
        y: 0,
        yanchor: 'top',
        xanchor: 'left',
        showactive: false,
        direction: 'left',
        type: 'buttons',
        pad: {t: 87, r: 10},
        buttons: [{
          method: 'animate',
          args: [null, {
            mode: 'immediate',
            fromcurrent: true,
            transition: {duration: 300},
            frame: {duration: 500, redraw: false}
          }],
          label: 'Play'
        }, {
          method: 'animate',
          args: [[null], {
            mode: 'immediate',
            transition: {duration: 0},
            frame: {duration: 0, redraw: false}
          }],
          label: 'Pause'
        }]
      }],
     // Finally, add the slider and use `pad` to position it
     // nicely next to the buttons.
      sliders: [{
        pad: {l: 130, t: 55},
        currentvalue: {
          visible: true,
          prefix: 'Year:',
          xanchor: 'right',
          font: {size: 20, color: '#666'}
        },
        steps: sliderSteps
      }]
    };
    
    // Create the plot:
    Plotly.plot('myDiv', {
      data: traces,
      layout: layout,
     config: {showSendToCloud:true},
      frames: frames,
    });
  });
    </script>
  </body>
  <head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
  <!-- Plotly chart will be drawn inside this DIV -->
  <div id="myDiv"></div>
    <script>
    Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv", function(err, rows){

function unpack(rows, key) {
return rows.map(function(row) { return row[key]; });
}

var frames = []
var x = unpack(rows, 'Date')
var y = unpack(rows, 'AAPL.High')
var x2 = unpack(rows, 'Date')
var y2 = unpack(rows, 'AAPL.Low')

var n = 100;
for (var i = 0; i < n; i++) { 
  frames[i] = {data: [{x: [], y: []}, {x: [], y: []}]}
  frames[i].data[1].x = x.slice(0, i+1);
  frames[i].data[1].y = y.slice(0, i+1);
  frames[i].data[0].x = x2.slice(0, i+1);
  frames[i].data[0].y = y2.slice(0, i+1);
}

var trace2 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL High',
  fill: 'tonexty',
  x: frames[5].data[1].x,
  y: frames[5].data[1].y,
  line: {color: 'grey'}
}

var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'AAPL Low',
  x: frames[5].data[0].x,
  y: frames[5].data[0].y,
  line: {color: 'lightgrey'}
}

var data = [trace1,trace2]; 
  
var layout = {
  title: 'Multiple Trace Filled-Area Animation',
  xaxis: {
    range: [frames[99].data[0].x[0], frames[99].data[0].x[99]],
    showgrid: false
  },
  yaxis: {
    range: [120, 140],
    showgrid: false
  },
  legend: {
    orientation: 'h',
    x: 0.5,
    y: 1.2,
    xanchor: 'center'
  },
  updatemenus: [{
    x: 0.5,
    y: 0,
    yanchor: "top",
    xanchor: "center",
    showactive: false,
    direction: "left",
    type: "buttons",
    pad: {"t": 87, "r": 10},
    buttons: [{
      method: "animate",
      args: [null, {
        fromcurrent: true,
        transition: {
          duration: 0,
        },
        frame: {
          duration: 40,
          redraw: false
        }
      }],
      label: "Play"
    }, {
      method: "animate",
      args: [
        [null],
        {
          mode: "immediate",
          transition: {
            duration: 0
          },
          frame: {
            duration: 0,
            redraw: false
          }
        }
      ],
      label: "Pause"
    }]
  }]
};

Plotly.newPlot('myDiv', data, layout).then(function() {
  Plotly.addFrames('myDiv', frames);
});
})
    </script>
  </body>
  </html>

<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
</head>

<body>
	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
</body>
<script>
d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/3d-scatter.csv', function(err, rows){
    function unpack(rows, key) {
        return rows.map(function(row)
        { return row[key]; });}
    
    var trace1 = {
        x:unpack(rows, 'x1'), y: unpack(rows, 'y1'), z: unpack(rows, 'z1'),
        mode: 'markers',
        marker: {
            size: 12,
            line: {
            color: 'rgba(217, 217, 217, 0.14)',
            width: 0.5},
            opacity: 0.8},
        type: 'scatter3d'
    };
    
    var trace2 = {
        x:unpack(rows, 'x2'), y: unpack(rows, 'y2'), z: unpack(rows, 'z2'),
        mode: 'markers',
        marker: {
            color: 'rgb(127, 127, 127)',
            size: 12,
            symbol: 'circle',
            line: {
            color: 'rgb(204, 204, 204)',
            width: 1},
            opacity: 0.8},
        type: 'scatter3d'};
    
    var data = [trace1, trace2];
    var layout = {margin: {
        l: 0,
        r: 0,
        b: 0,
        t: 0
      }};
    Plotly.newPlot('myDiv', data, layout);
    });
</script>
{% endblock %}