{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <link href="{{ url_for('static', filename = '../../../../static/css/quiz.css')}}" rel="stylesheet">
   <div class="quiz-buttons">
    <button type="Feminine"></button>
   <button type="Masculine"></button>
</div>

  <button onclick="topFunction()" id="Feminine" link href="quiz pages/first-question.html"></button>
</body>
</html>

{% endblock %}