{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<style>
  

  #title {
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Brasika", sans-serif;
      text-align: center;
      font-size: 16px;
      color:rgb(19, 21, 131)
  }


</style>
<div class="container-fluid p-0" style="overflow-x: hidden; overflow-y: scroll">
  <div class="home-header d-flex flex-row justify-content-center align-items-center">
      HOME
  </div>
  <div class="home-main-content container-fluid py-5 px-4" style="overflow:hidden">
    <div class="row">
      <div class="home-main-left col-3">
        <div class="home-sidebar">
          <div class="home-sidebar-inner d-flex flex-column px-3 py-3 gap-4">
            <div class="home-sidebar-words" style="visibility: hidden;">Title</div>
            <div class="home-sidebar-words" style="visibility: hidden;">Title</div>
            <div class="home-sidebar-words" style="visibility: hidden;">Title</div>
            <div class="home-sidebar-words" style="visibility: hidden;">Title</div>
          </div>
        </div>
      </div>
      <div class="home-main-right col">
        <div class="home-paragraph"> 
          <div class="home-paragraph-inner d-flex flex-column px-3 py-3 gap-4">
            <div class="home-paragraph pb-3 px-2">
              <div class="home-title">Title</div>
              <div class="home-text" id="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
            <div class="home-paragraph pb-3 px-2">
              <div class="home-title">Title</div>
              <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
            <div class="home-paragraph pb-3 px-2">
              <div class="home-title">Title</div>
              <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
            <div class="home-paragraph pb-3 px-2">
              <div class="home-title">Title</div>
              <div class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
