{% extends "layout.html" %}
  
{% block title %}Home - Formosa{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'css/ref/landing_ref_hkust.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'css/ref/landing_ref_aalto.css') }}" rel="stylesheet" />

<body>
    <!-- <header class="bg-dark">
        <div class="intro-video" style="display: none;">
            <div id="reflect-text-wrap centered">
                <h2 id="reflect-text"></h2>
            </div>
            <video src="https://svpvodps-vh.akamaized.net/special/spesial/2019/hercules-ulykken/start-1200.mp4"></video>
        </div>
          
        <div class="curtain-panel"  style="display: none;">
            <img src="https://static.igem.wiki/teams/5437/index/leftcurtain.png" alt="Left Curtain Image" class="curtain-image left-curtain curtain">
            <img src="https://static.igem.wiki/teams/5437/index/rightcurtain.png" alt="Right Curtain Image" class="curtain-image right-curtain curtain">
        </div>
    </header> -->

    <section class="curtain">
        <div class="curtain__scrollbar"></div>
        <div class="fold">
            <div class="fold--interior">
                <div id="reflect-text-wrap centered">
                    <h2 id="reflect-text-1"></h2>
                </div>
            </div>
        </div>
        <div class="fold">
            <div class="fold--interior">
                <div id="reflect-text-wrap centered">
                    <h2 id="reflect-text-2"></h2>
                </div>
            </div>
        </div>
        <div class="fold">
            <div class="fold--interior">
                <div id="reflect-text-wrap centered">
                    <h2 id="reflect-text-3"></h2>
                </div>
            </div>
        </div>
        <div class="fold">
            <div class="fold--interior">
                <div id="reflect-text-wrap centered">
                    <h2 id="reflect-text-4"></h2>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="pageshort gradbrowntogreen1 d-flex justify-content-center"> 
        </div>
         <div id="bg-green-wrap">
            <section>
                <div id="problem-title-wrap" class="to-fade-in-fast">
                    Plastic waste is accumulating at an
                    <span id="alarming">alarming</span> rate
                </div>
                <h1 style="text-align: center; margin-bottom: 5rem" class="to-fade-in">
                    Every year,
                </h1>
                <div id="problem-im-wrapper">
                    <div class="problem-im-wrap">
                        <img
                            class="problem-im"
                            src="https://static.igem.wiki/teams/4701/wiki/im1.jpg"
                            alt=""
                        />
                        <div class="problem-im-text">
                            <h2><span id="num1">0</span> million tons</h2>
                            <p>of plastic is generated</p>
                        </div>
                    </div>
                    <div class="problem-im-wrap">
                        <img
                            class="problem-im"
                            src="https://static.igem.wiki/teams/4701/wiki/im2.jpg"
                            alt=""
                        />
                        <div class="problem-im-text">
                            <h2><span id="num2">0</span> million tons</h2>
                            <p>of plastic enters the ocean</p>
                        </div>
                    </div>
                    <div class="problem-im-wrap">
                        <img
                            class="problem-im"
                            src="https://static.igem.wiki/teams/4701/wiki/im3.jpg"
                            alt=""
                        />
                        <div class="problem-im-text">
                            <h2><span id="num3">0</span>,000 animals</h2>
                            <p>die from plastic entanglement</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="pageshort gradgreentobrown1"> </div>
    </section>
    
    <!--rotating taiwan-->
    <div class="page">
        <img class="earth img-fluid rotatehidden" src="https://static.igem.wiki/teams/5437/index/taiwan-igem-logo.png">
        <img class="fish1 img-fluid" src="https://static.igem.wiki/teams/4225/wiki/fish1.png">
        <h2 class="inasia position-absolute text-center hiddenright s3">Brief background<br> In Taiwan</h2>
        <p class="taiwan-title position-absolute text-center hiddenright">Lots of mosquitos
            <br>
            Mosquitos carry diseases
            <br>
            Mosquitos
            <br>
            Mosquitos
        </p>
    </div>

    <div class="page">
        <h2 class="to-fade-in solution-statement">Our Solution: mosquito repellent perfume</h2>
        <p class="taiwan-title position-absolute solution-statement hiddenright">some sort of graphic</p>
    </div>

    <div class="page">
        <img class="earth2 img-fluid rotatehidden-left" src="https://static.igem.wiki/teams/5437/index/taiwan-igem-logo.png">
       
        <h2 class="inasia position-absolute text-center hiddenleft s3">Brief background<br> In Taiwan</h2>
        <p class="taiwan-title position-absolute text-center hiddenleft">Lots of mosquitos
            <br>
            Mosquitos carry diseases
            <br>
            Mosquitos
            <br>
            Mosquitos
        </p>
    </div>

    <div class="pageshort d-flex align-items-center justify-content-center">
        <h1 class="interested text-center s3">
            Interested?
            <br>
            Please click the icons!
        </h1>
    </div>
    <div class="pageshort d-flex align-items-center justify-content-center">
        <div class="row w-80 mx-auto cent">
            <div class="col text-center position-relative p-0 m-1">
                <img class="image project" src="https://static.igem.wiki/teams/4225/wiki/cc4-2.png">
                <a href="{{ url_for('pages', page='description') }}"><img class="imageh project" src="https://static.igem.wiki/teams/4225/wiki/group-1288.png"></a>
            </div>
            <div class="col position-relative p-0 m-1">
                <img class="image" src="https://static.igem.wiki/teams/4225/wiki/circuit2-2.png">
                <a href="{{ url_for('pages', page='experiment') }}"><img class="imageh" src="https://static.igem.wiki/teams/4225/wiki/group-1286.png"></a>
            </div>
            <div class="col position-relative p-0 m-1">
                <img class="image" src="https://static.igem.wiki/teams/4225/wiki/drylab2.png">
                <a href="{{ url_for('pages', page='model') }}"><img class="imageh" src="https://static.igem.wiki/teams/4225/wiki/drylabhover2.png"></a>
            </div>
            <div class="col position-relative p-0 m-1">
                <img class="image" src="https://static.igem.wiki/teams/4225/wiki/ihp2.png"></a>
                <a href="{{ url_for('pages', page='human-practices') }}"><img class="imageh" src="https://static.igem.wiki/teams/4225/wiki/ihphover2.png"></a>
            </div>
            <div class="col position-relative p-0 m-1 text-center">
                <img class="image project" src="https://static.igem.wiki/teams/4225/wiki/chassis-3-2.png">
                <a href="{{ url_for('pages', page='parts') }}"><img class="imageh project" src="https://static.igem.wiki/teams/4225/wiki/group-1285.png"></a>
            </div>
        </div>
    </div>


    <script src="../../static/js/curtain_animate/TweenMax.min.js"></script>
    <script src="../../static/js/curtain_animate/ScrollMagic.js"></script>
    <script src="../../static/js/curtain_animate/animation.gsap.js"></script>
    <script src="../../static/js/curtain_animate/debug.addIndicators.js"></script>
    <script src="../../static/js/curtain_animate/jquery.min.js"></script>
    
    <!-- <script src="../../static/js/curtain_slider/jquery.min.js"></script> -->
    <script src="../../static/js/curtain_slider/modernizr.min.js"></script>
    <script src="../../static/js/curtain_slider/skrollr.min.js"></script>
    
</body>

</html>
{% endblock %}
