{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <header>
        <div class="page-header" id="human-practices-header"></div>
    </header>
    <link href="{{ url_for('static', filename = '../../../../static/css/notebook.css')}}" rel="stylesheet">
 <body>
    <body style="overflow-x:hidden;">
             
          <div class="row mb-5 gx-0" id="introduction">
            <div class="col-1 d-flex justify-content-center">
            
            </div>
            <div class="col-10">
            <div class="row gx-10"></div>
                <div class="toc-section">
                <h2>Notebook </h2>
                <br>
                    <p align="justify">
                    <font color="#F6B227"><b>Wetlab</font></b> is an essential part of any iGEM project. It challenges engineers to make useful projects that <font color="#F6B227"><b>contribute to society</font></b>.  Synthetic biology can bring innovative approaches to solve some major societal problems, however it can also <font color="#F6B227"><b>raise many questions</font></b>. This is where Human Practices comes in to make the teams more aware of the <font color="#F6B227"><b>positive as well as the negative impact</font></b> of their project. Our objective is to fully <font color="#F6B227"><b>integrate</font></b> all stakeholders involved into our project to end up with a therapy that will truly be a great benefit to as many people as possible. 
                    </p>
        <div class="container">
          <div id="route">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -80 1280 2375" id="svgRoute" style="overflow: initial;" >
    
      
            <path id="path" d="M 640 -10 L 640 0 C 640 100 1900 300 599 500 C 648 489 -300 700 600 900 C 659 912 1300 1100 600 1301 C 670 1280 -100 1500 600 1700 C 657 1717 1030 1861 725 2037 C 680 2066 658 2078 636 2101 C 614 2128 586 2189 640 2234"  
            stroke-width="6px"  stroke="#98CC9B" fill="none"/>
        
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic1.svg" height="150px" x="565" y="-75"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic2.svg" height="150px" x="1100" y="225"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic3.svg" height="150px" x="140" y="625"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic42.svg" height="150px" x="825" y="1025"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic6.svg" height="150px" x="250" y="1425"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic5.svg" height="150px" x="775" y="1825"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic7.svg" height="150px" x="565" y="2125"></image>
      
          
        <foreignObject x="10" y="100" height="410px" width="700px">
          <div class="placeholder">
            <div class="box-adjust">
            <div class="content-container">
              <div class="text-left2-home">
                <h2>INSERT MONTH</h2>
              </div>
                  <object
                  class="pdf-adjust"
                  type="application/pdf"
                  data="https://static.igem.wiki/teams/5437/project/wetlab-page/notebook/sample.pdf"
              >
              </object>
                  
            </div>
              </div>
            </div>
          </div>
        </div>
          
        </foreignObject>
      
        
      </g>
      <foreignObject x="580" y="525" height="410px" width="700px">
        <div class="placeholder">
          <div class="box-adjust">
          <div class="content-container">
            <div class="text-left2-home">
              <h2>INSERT MONTH</h2>
              <object
              class="pdf-adjust"
              type="application/pdf"
              data="https://static.igem.wiki/teams/5437/project/wetlab-page/notebook/sample.pdf"
              width="100%"
              height="500px"
          >
          </object>
              </div>
            </div>
          </div>
        </div>
      </foreignObject>
      
      <foreignObject x="10" y="930" height="410px" width="600px">
        <div class="placeholder">
          <div class="box-adjust">
          <div class="content-container">
                <div class="text-left2-home">
                  <h2>INSTERT MONTH</h2>
                  <object
                  class="pdf-adjust"
                  type="application/pdf"
                  data="https://static.igem.wiki/teams/5437/project/wetlab-page/notebook/sample.pdf"
                  width="100%"
                  height="500"
              >
              </object>
              </div>
            </div>
          </div>
        </div>
      </foreignObject>

      <foreignObject x="630" y="1320" height="410px" width="600px">
        <div class="placeholder">
          <div class="box-adjust">
          <div class="content-container"> 
              <div class="text-left2-home">
                <h2>INSTERT MONTH</h2>
                <object
                class="pdf-adjust"
                type="application/pdf"
                data="https://static.igem.wiki/teams/5437/project/wetlab-page/notebook/sample.pdf"
                width="100%"
              
            >
            </object>
                </div>
              </div>
            </div>
          </div>
        </div>
      </foreignObject>
      
      <foreignObject x="10" y="1725" height="410px" width="600px">
        <div class="placeholder"> 
          <div class="box-adjust">
          <div class="content-container">
                <div class="text-left2-home"> 
                  <h2>INSERT MONTH</h2>
                  <object
                  class="pdf-adjust"
                  type="application/pdf"
                  data="https://static.igem.wiki/teams/5437/project/wetlab-page/notebook/sample.pdf"
                  width="50%"
                  height="500px"
              >
              </object>
                </div>
              </div>
          </div>
        </div>
      </foreignObject>
    </svg>
</div>
</div>
</div>
</div>
</div>
    
    <script src="{{ url_for('static', filename = '../../../../static/js/notebook.js')}}"></script>
</body>
</html>

{% endblock %}