{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <link href="{{ url_for('static', filename = '../../../../static/css/notebook.css')}}" rel="stylesheet">
 <body>
    <body style="overflow-x:hidden;">
        <div class="container">
          <div id="route">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -80 1280 2375" id="svgRoute" style="overflow: initial;" >
      
            <image x="920" y="30" width="30%" height="535" xlink:href="https://static.igem.wiki/teams/4905/wiki/logos/intestinhome.svg"></image>
            <image x="-70" y="445" width="30%" height="535" xlink:href="https://static.igem.wiki/teams/4905/wiki/logos/pillhome.svg"></image>
            <image x="830" y="866" width="35%" height="480" xlink:href="https://static.igem.wiki/teams/4905/wiki/logos/dnahome.svg"></image>
            <image x="60" y="1200" width="30%" height="600" xlink:href="https://static.igem.wiki/teams/4905/wiki/logos/shieldhome.svg"></image>
            <image x="730" y="1640" width="30%" height="600" xlink:href="https://static.igem.wiki/teams/4905/wiki/logos/blockhome.svg"></image>
      
            <path id="path" d="M 640 -10 L 640 0 C 640 100 1900 300 599 500 C 648 489 -300 700 600 900 C 659 912 1300 1100 600 1301 C 670 1280 -100 1500 600 1700 C 657 1717 1030 1861 725 2037 C 680 2066 658 2078 636 2101 C 614 2128 586 2189 640 2234"  
            stroke-width="6px"  stroke="#98CC9B" fill="none"/>
          <image id="c" x="-63" y="-120" width="120" height="240" xlink:href="https://static.igem.wiki/teams/4905/wiki/bewegende-bacterie-2.gif"></image>
          
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic1.svg" height="150px" x="565" y="-75"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic2.svg" height="150px" x="1100" y="225"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic3.svg" height="150px" x="140" y="625"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic42.svg" height="150px" x="825" y="1025"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic6.svg" height="150px" x="250" y="1425"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic5.svg" height="150px" x="775" y="1825"></image>
          <image href="https://static.igem.wiki/teams/4905/wiki/homepic7.svg" height="150px" x="565" y="2125"></image>
      
          <g class="dotted-line" transform="translate(450, 280)">
              <image x="0" y="0" width="300" height="50" xlink:href="https://static.igem.wiki/teams/4905/wiki/stippellijn.svg" alt="line"></image>
          </g>
        <foreignObject x="10" y="200" height="300px" width="800px">
          <div class="placeholder">
            <div class="content-container"> 
                <div class="text-left-home">
                  <h2 style="margin-bottom:20px">Inflammatory Bowel Disease (IBD)</h2>
      
                  <div style="display: inline-block; vertical-align: middle;">
                    <img src="https://static.igem.wiki/teams/4905/wiki/homepagefig1.svg" style="width:10%;" alt="Stethoscope">
                    <p style="display: inline-block; vertical-align: middle;">Something<sup>[1]</sup></p>
                  </div>
      
                  <div style="display: inline-block; vertical-align: middle;">
                    <img src="https://static.igem.wiki/teams/4905/wiki/homepagefig2.svg" style="width:10%;" alt="Syringe">
                    <p style="display: inline-block; vertical-align: middle;">Something</p>
                  </div>
      
                  <div style="display: inline-block; vertical-align: middle;">
                    <img src="https://static.igem.wiki/teams/4905/wiki/project-description-page/clock.svg" style="width:10%;" alt="Clock">
                    <p style="display: inline-block; vertical-align: middle;">Something</p>
                  </div>
              </div>
            </div>
          </div>
        </foreignObject>
      
      <g class="dotted-line" transform="translate(560, 700)">
              <image x="0" y="0" width="300" height="50" xlink:href="https://static.igem.wiki/teams/4905/wiki/stippellijn.svg" alt="line"></image>
      </g>
      <foreignObject x="880" y="625" height="300px" width="800px">
        <div class="placeholder">
          <div class="content-container">
            <div class="text-left2-home">
              <h2>Current therapies</h2>
              <p style="margin-bottom:200px; text-align:justify;">Something <b><font color="#F6B227"> Something</font></b><sup>[2]</sup>, which requires a lot of hospital visits. Treatment costs are also a major problem as they are very expensive<sup>[3]</sup>. Antibody therapy already costs <b><font color="#F6B227">10,000-40,000</font></b> euros a year for one individual patient<sup>[4]</sup>.</p>
            </div>
          </div>
        </div>
      </foreignObject>
      <g class="dotted-line" transform="translate(450, 1120)">
              <image x="0" y="0" width="300" height="50" xlink:href="https://static.igem.wiki/teams/4905/wiki/stippellijn.svg" alt="line" style="position:center"></image>
      </g>
      <foreignObject x="10" y="1025" height="300px" width="800px">
        <div class="placeholder">
          <div class="content-container">
                <div class="text-left-home">
                  <h2>Our solution</h2>
                  <p style="margin-bottom:200px; text-align:justify;">We genetically engineer <i>E. coli</i> bacteria to make intracellularly hydrogelated cells. <font color="#F6B227"><b> Elastin-Like Polypeptides (ELPs)</b></font> are expressed inside the cell, which form a hydrogel. This prevents the bacteria from dividing, while they are still able to express <b><font color="#F6B227">Interleukin 10 (IL-10)</b></font> as treatment for IBD. IL-10 works anti-inflammatory and can <font color="#F6B227"><b>locally suppress IBD symptoms</b></font><sup>[5]</sup>.</p>
                </div>
          </div>
        </div>
      </foreignObject>
      <g class="dotted-line" transform="translate(560, 1480)">
              <image x="0" y="0" width="300" height="50" xlink:href="https://static.igem.wiki/teams/4905/wiki/stippellijn.svg" alt="line"></image>
      </g>
      <foreignObject x="880" y="1355" height="410px" width="800px">
        <div class="placeholder">
          <div class="content-container"> 
              <div class="text-left2-home" style="height:370px;">
                <h2 style="margin-bottom:20px;">Selling points</h2>
      
                <div style="display: flex; vertical-align: middle;">
                  <img src="https://static.igem.wiki/teams/4905/wiki/specific.svg" style="width:8%; margin-right:10px;" alt="Specific">
                  <p style="display: inline-block; vertical-align: middle; text-align:justify;">IL-10 is excreted <b><font color="#F6B227">locally</font></b> at the place of inflammation, therefore the treatment is <b><font color="#F6B227">specific</font></b>.</p>
                </div>
      
                <div style="display: flex; vertical-align: middle;">
                  <img src="https://static.igem.wiki/teams/4905/wiki/sideeffects.svg" style="width:8%; margin-right:10px;" alt="Less side effects">
                  <p style="display: inline-block; vertical-align: middle; text-align:justify;">Due to the local approach, not the whole immune system of the patient will be affected, resulting in <b><font color="#F6B227">fewer side effects.</font></b></p>
                </div>
      
                <div style="display: flex; vertical-align: middle; height:80px;">
                  <img src="https://static.igem.wiki/teams/4905/wiki/affordable.svg" style="width:8%; margin-right:10px;" alt="More affordable">
                  <p style="display: inline-block; vertical-align: middle; text-align:justify;">Since IL-10 is a protein, all the machinery for protein expression is already present in the bacteria. This makes cELPro <b><font color="#F6B227">easily scalable</font></b>. Moreover, the easy way of administration and therefore the reduced need for trained physicians makes the treatment <b><font color="#F6B227">more affordable</font></b>.</p>
                </div>
            </div>
          </div>
        </div>
      </foreignObject>
      <g class="dotted-line" transform="translate(450, 1880)">
              <image x="0" y="0" width="300" height="50" xlink:href="https://static.igem.wiki/teams/4905/wiki/stippellijn.svg" alt="line"></image>
      </g>
      <foreignObject x="10" y="1825" height="300px" width="800px">
        <div class="placeholder"> 
          <div class="content-container">
                <div class="text-left-home"> 
                  <h2>Modularity</h2>
                  <p style="text-align:justify;">The technology behind cELPro to express an intracellular hydrogel is an innovative approach to make a <font color="#F6B227"><b>safe and local drug delivery system</b></font>. This platform has the possibility to <font color="#F6B227"><b>expand</b></font> to other (bowel) diseases in the future.</p>
                  <p>More about our project can be read on our  <i><a href="https://2023.igem.wiki/tu-eindhoven/description" style="color:#F6B227">Project Description Page</a></i>.</p>
                </div>
          </div>
        </div>
      </foreignObject>
    </svg>
</div>
</div>
<script>
//index-menu

  var HEADER_HEIGHT = 120;
  let sections = [document.getElementById('introduction'), document.getElementById('stakeholderidentification'), document.getElementById('value sensitive analysis'), document.getElementById('interactivetimeline')]

  window.goToDiv = function(target) {
  var scrollContainer = target;
  do { //find scroll container
      scrollContainer = scrollContainer.parentNode;
      if (!scrollContainer) return;
      scrollContainer.scrollTop += 1;
  } while (scrollContainer.scrollTop == 0);

  var targetY = 0;
  do { //find the top of target relatively to the container
      if (target == scrollContainer) break;
      targetY += target.offsetTop;
  } while (target = target.offsetParent);
  targetY -= HEADER_HEIGHT; 

  scroll = function(c, a, b) {
      c.scrollTop = a + (b - a);
  }
  scroll(scrollContainer, scrollContainer.scrollTop, targetY);

  }

  function toggleHighlight(section, textID) {
      if(section.getBoundingClientRect().top - HEADER_HEIGHT < 1 && section.getBoundingClientRect().bottom - HEADER_HEIGHT > 0) {
          document.getElementById(textID).style.scale = 1;
          document.getElementById(textID).style.opacity = 1;
      } else {
          document.getElementById(textID).style.scale = 0.8;
          document.getElementById(textID).style.opacity = 0.6;
      }
  }

  window.addEventListener("scroll", event => {
      toggleHighlight(sections[0], 'content1Text');
      toggleHighlight(sections[1], 'content2Text');
      toggleHighlight(sections[2], 'content3Text');
      toggleHighlight(sections[2], 'content4Text');
  });


</script>
    
    <script src="{{ url_for('static', filename = '../../../../static/js/notebook.js')}}"></script>
</body>
</html>

{% endblock %}