{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<link href="{{ url_for('static', filename = '../../../../static/css/description.css')}}" rel="stylesheet">
<header>
    <div class="page-header" id="parts-header"></div>
</header>
<div class="page-content-wrap" id="notebook-content-wrap">
<div class="row">
    <div class="col-lg-3 col-sm-0 mt-5">
    <div class="sidenav">
        <h3>CONTENTS</h3>
        <div class="list-group navlist">
            <div class="toc-wrap">
                <a class="list-group-item toc toc-side" href="#workshops">Workshops</a>
                <a class="list-group-item toc toc-side" href="#presentations">Presentations</a>
                <a class="list-group-item toc toc-side" href="#social-media">Social media</a>
                <a class="list-group-item toc toc-side" href="#newsletter">Biweekly newsletter</a>
                <a class="list-group-item toc toc-side" href="#poster">Poster</a>
                <a class="list-group-item toc toc-side" href="#brochure">Brochure</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-8 col-sm-10 justify-content-sm-center">
    <div class="toc-section" id="workshops">
        <div class="title_name">
            <p>Parts</p>
        </div>
        <p>
        <div class = "content_text">
            <p>hello! Late last year, Meta (META) launched a service called “Subscription for no ads,” 
                allowing European users of Facebook and Instagram to pay up to €12.99 ($14) a month
                for ad-free versions. The alternative is to accept versions with personalized ads</p>
        </div>  
        <div class = "content_text">
            <p>At Aalto-Helsinki, we believe that education lies at the foundation
                of society. We want to emphasize the importance of our work with
                regard to providing learning opportunities. We do not simply wish to
                raise awareness without a proper understanding of our goals and means,
                but rather, we aim to create a thorough and deep comprehension of our
                project. Moreover, we try to focus on creating an environment that
                allows for creative, innovative feedback; for a lot of us, inspiring
                more science is a big motivator.</p>
        </div>  
            </p><div></div>
        <div class="title_name">
            <p>Workshops</p>
        </div>
        <div class = "subtitle_text">
            <p>Heureka workshops</p>
        </div>
        <p>
            <div class = "content_text">
                <p>Aalto-Helsinki has had the honor of collaborating with Heureka, a
                    science center, for many years. Heureka attracts approximately 300 000
                    visitors a year and has many thrilling and engaging exhibitions with
                    the aim of interesting the public to learn more about different areas
                    of science and develop scientific understanding through the joy of
                    discovery. Education is incredibly important to our team, and we want
                    to do our best to spread our enthusiasm for synthetic biology to
                    others. Over two Saturdays, Aalto-Helsinki continued our traditional
                    collaboration with the ABOA team by holding a workshop on synthetic
                    biology at Heureka, in which we covered the topics of protein
                    synthesis and DNA.</p>
            </div>  
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/fig1-education.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
        <p>
            <div class = "content_text">
                <p>In the first workshop, we taught the public about DNA, RNA, and amino
        acids by playing a DNA flash card game. This was followed by giving
        Heureka visitors DNA/RNA/amino acid models to build while showing
        educational videos of protein synthesis and providing guidance
        throughout the process. The visitors learned about the structure of
        DNA while building, and learned how RNA differs while constructing RNA
        models. The RNA model had spectacular tRNA and amino acid pieces that
        would be attached in such a way that the model represents the actual
        translation process very well. At the end, the visitors deciphered
        which amino acids the built RNA and tRNA model encoded for.
        Additionally, they learned some basics about the 20 essential amino
        acids, protein structures, and the function of hemoglobin as an
        example protein. We also showed them a game that an Aalto-Helsinki
        member developed to demonstrate protein synthesis. This game allowed
        users to input their own DNA code and click through the steps of
        protein synthesis for a streamlined version of their experience
        building the models by hand.</p>
        </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edu2.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class = "content_text">
            <p>After the first workshop, everyone who assisted in instructing
                gathered to evaluate the workshop and how to improve upon or engage
                the public more in the second upcoming workshop. We decided that
                having other hands-on activities would help Heureka visitors actively
                learn the synthetic biology topics that we guided them through. We
                decided that pipetting, while a super fun activity, is a vital lab
                skill to learn and also ties together nicely with how we and others work
                with DNA in the lab.</p>
        </div>
        <div class = "content_text">
            <p>
                During the second workshop, we added cell culture plates, pipettes,
                and food dye water. Younger visitors were free to be creative and draw
                pictures on the plates by filling each well with a color of their
                choosing. Some visitors agreed to learn to perform more difficult
                tasks such as mixing two colors by pipetting them up and down and
                emptying many wells in one go by controlling how much they released
                the air bubble at the top of the pipet. In tandem with the building
                models, the pipetting, which encouraged creative freedom, also allowed
                the visitors to be more receptive towards learning difficult-to-grasp
                topics of DNA/RNA/amino acids and forthcoming regarding questions and
                inquiries. Witnessing how hard they all worked on their pipetting and
                how proud they were of their creations afterward was a joy to see. We
                surely inspired a few future scientists and laboratorians. In many
                cases, we were surprised by how quickly they picked up the topics and
                asked insightful questions.
                </p>
        </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edu3.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class = "content_text">
            <p>The workshops sparked the interest of kindergarteners who loved
                pipetting different colors together, students who enjoyed building
                the models with their own hands, and kids who deepened the
                knowledge they had previously only read in textbooks or never heard of
                before. Parents of younger visitors and other adults enjoyed learning
                more in-depth knowledge about the workings of DNA and amino acids.</p>
        </div>
        <div class = "subtitle_text">
            <p>subtitle for this</p>
        </div>
        <div class = "content_text">
            <p>Aalto-Helsinki went to the Maunula elementary school; and to a group
                of 6th graders, presented iGEM, our team’s project, and a Yeast Air
                Balloon experiment workshop. This was followed by a synthetic biology
                pop quiz based on our teachings. The students were interested in
                learning about our project, asking questions about synthetic
                biology, and even envisioning further studies.</p>
        </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edu4.png"
            alt=""
            class="fig"
            style="width: 100%"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class = "content_text">
            <p>The students were eager to conduct their own experiment; and after we
                stressed the importance of keeping good lab notes, they diligently
                followed our advice on writing their own lab notes and carrying out
                experiments with care and precision. The students paired up and
                performed the Yeast Air Balloon experiment by filling a bottle with
                warm water, yeast, sugar/apple slices and covering the top with an air
                balloon. As fermentation produced CO<sub>2</sub>, the air balloon
                expanded with the gas. The students were excited to see their balloons
                standing up and eager to learn more. We then discussed the phenomena,
                the chemical formula, and possible differences between the bottles
                filled with sugar and those filled with apple slices.</p>
        </div>
        <div class = "content_text">
            <p>To wrap up the session, the students took part in a fun pop quiz based
                on the topics discussed that day. The quiz served both as a summary
                and as further motivation to learn. This was clear when it sparked
                discussion on plastic pollution and thoughts on how to combat it.</p>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edus5.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
    </div>
    <div class="toc-section" id="presentations">
        <div class="title_name">
            <p>Presentations</p>
        </div>
        <div class = "subtitle_text">
            <p>International Biology Olympiad</p>
        </div>
        <div class = "content_text">
            <p>On the 9th of August, our team visited the students of the training
                program for the Finnish team for the International Biology Olympiad
                (IBO). IBO is the largest international biology competition for high
                school students across the world. In Finland, a selected group of ten
                talented high schoolers in all fields of biology are trained, and four
                of them will qualify to represent Finland in the 34th International
                Biology Olympiad in Astana, Kazakhstan in July 2024.</p>
        </div>
        <div class = "content_text">
            <p>The iGEM team has been collaborating with the training program for IBO
                students for quite a long time by organizing a joint meeting. In this
                meeting, our team presented the project overview. We got highly
                interesting feedback from a variety of points of view. These brilliant
                students showed a lot of interest in our process and pointed out many
                important details.</p>
        </div>
        <div class = "content_text">
            <p>Additionally, their supervisor gave a brief presentation regarding 
                the International Biology Olympiad process and organization, and right
                after, in smaller groups, we exchanged experiences regarding our
                scientific careers. The students shared their plans for the future and
                asked for advice. They were thrilled to hear about our different paths
                and learn about the amount of possibilities that they have in front of
                them. All in all, it was a delightful experience for us, we were able
                to inspire new generations of scientists who are about to start their
                own adventure.</p>
        </div>
        <div class = "content_text">
        <p>
        Moreover, it was a great activity to familiarize young students with
        the genetic engineering field. We spread the iGEM values and explored
        with them the possibilities it offers. Our team considered it a great
        opportunity to share our experience within this project and bring them
        closer to the field. iGEM is a very useful tool for educating future
        scientists in an enjoyable way.
        </p>
    </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/ibo.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class = "subtitle_text">
            <p>International Biology Olympiad</p>
        </div>
        <div class = "content_text">
        <p>
        The Science Basement is a non-profit organization in Finland based in
        Helsinki. They create low-threshold opportunities to encourage and
        support all researchers to communicate their work, by providing a safe
        space to learn SciComm skills through their different platforms and
        projects. The aim is to show that good communication skills can make
        you a better researcher by uncovering hidden assumptions and
        reorganizing your ideas about your work, while exploring how to create
        and improve the dialogue between research and society.
        </p>
    </div>
    <div class = "content_text">
        <p>
        Our team got invited to the afternoon talks. In these events,
        different researchers present their current work within the talking
        series as a short presentation, followed by a lively discussion with
        the audience.
        </p>
    </div>
    <div class = "content_text">
        <p>
        In collaboration with the ABOA iGEM team, two of our members presented
        our project overview as well as discussed bioremediation, which is
        included in both of our projects. Afterward, we discussed with
        the audience in which more members of both groups participated by
        answering the questions. Both teams received very fruitful feedback
        and we got to explain our experiences and thoughts regarding our
        participation in the projects. It was a great opportunity to share
        with other researchers and a very interested audience about iGEM
        itself.
        </p>
    </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/education-science-basement.png"
            class="fig"
            style="width: 70%"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class = "subtitle_text">
            <p>University course presentations</p>
        </div>
        <div class = "content_text">
        <p>
        In order to spread the iGEM values and advertise them, we organized
        several presentations both at Aalto University and the University of
        Helsinki in various courses with suitable topics.
        </p>
    </div>
    <div class = "content_text">
        <p>
        In these presentations, our team not only presented the project
        overview but also explained the iGEM concept and its values. We shared
        with the students the mechanism of the whole process and what is
        required to participate. To enhance their interest, we
        included examples relating their studies to different iGEM projects
        and we included our social events and trips.
        </p>
    </div>
    <div class = "content_text">
        <p>
        Sharing these presentations among the students of these Finnish
        universities is a tool we are using to spread awareness about the iGEM
        competition in order to recruit the following team.
        </p>
    </div>
    </div>
    <div class="toc-section" id="social-media">
        <div class="title_name">
            <p>Social media</p>
        </div>
        <div class = "content_text">
        <p>
        Social media is a useful tool to spread knowledge in an enjoyable
        manner and it is available to everyone. We have been sharing our
        project journey throughout Instagram, Facebook, Linkedin, and our
        Blogpost.</p>
        </div>
        <div class = "content_text">
        <p>
        To make use of these tools, our team decided to create a series of
        educational comics. They are about the awesome world of synthetic
        biology and Dr. Bio and their purpose is to educate kids as well as
        the curious public. In these comics, we delve into synthetic biology as
        well as more basic concepts such as explaining what a cell is, DNA, and
        proteins among others. We also included an infographic about GMOs to
        share their advantages and safety in regard to food production. In
        that way, when introducing our project, it is helpful for the public
        to already have a background. Our graphic design team created the
        characters, graphics, and the story explained.</p>
        </div>
        <div class = "content_text">
        <p>
        We have been receiving very positive feedback from the public and it
        has been a very easy and funny way to familiarize the general public
        with biology.</p>
        </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edu6.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edu7.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
    </div>
    <div class="toc-section" id="newsletter">
        <div class="title_name">
            <p>Biweekly newsletter</p>
        </div>
        <div class = "content_text">
        <p>We greatly appreciate the assistance and guidance we’ve received
        throughout this project from various experts. In order to keep them
        all updated on our progress, we sent out a biweekly newsletter. The
        newsletter contained information on our successes and challenges
        during the summer, including more detailed information about our
        experiments. By doing this, we were able to keep everyone informed and
        show our appreciation for the help we’ve received.</p>
        </div>
        <div class = "content_text">
        <p>Most experts are quite specialized in their own fields and may not
        necessaríly be accustomed to other fields. In order to combat that,
        our newsletter served to share more intersectional information we had
        gathered. We hope that everyone who has read our newsletter learned
        something new or interesting. Above all else, we hope that everyone is
        more interested in synthetic biology. You can find some excerpts from
        our newsletters below.</p>
        </div>
        <div class="fig-wrap">
        <img
            src="https://static.igem.wiki/teams/4701/wiki/edu8.png"
            alt=""
            class="fig"
        />
        <p class = "form_title">balabala</p>
        </div>
        <div class="toc-section" id="poster">
            <div class="title_name">
                <p>Poster</p>
            </div>
        <div class = "content_text">
        <p>We made a poster for the Nordic iGEM conference and the European
            meet-up. It helped us share our project and progress with other iGEM
            teams during the poster presentation sessions. This was a good
            chance for us to also learn about other iGEM team's projects and get
            feedback on our poster. Our poster is shown below:</p>
            </div>
        <div class="fig-wrap">
            <img
            src="https://static.igem.wiki/teams/4701/wiki/education-poster.png"
            class="fig"
            />
            <p class = "form_title">balabala</p>
        </div>
        </div>
        <div class="toc-section" id="brochure">
            <div class="title_name">
                <p>Brochure</p>
            </div>
            <div class = "content_text">
            <p>We created a brochure showcasing our team, project, how we help with
            sustainable development goals (SDGs), and our vision. We added a QR
            code for easy access to our survey and social media for project
            updates. We shared these brochures at various iGEM meet-ups we
            attended over the summer, including the European meet-up and the
            Nordic conference, as well as during our presentations at different
            events.</p>
            </div>
        <div class="fig-wrap">
            <img
            src="https://static.igem.wiki/teams/4701/wiki/education-brochure.png"
            class="fig"
            />
            <p class = "form_title">balabala</p>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}