{% extends "layout.html" %}
  
{% block title %}Safety and security{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <link href="{{ url_for('static', filename = '../../../../static/css/safety-and-security.css')}}" rel="stylesheet">
<body>
    <div class="page-content-wrap" id="notebook-content-wrap">
        <h1 class="page-title">Safety and Security</h1>
        <div class="row">
            <div class="col-lg-3 col-sm-0 mt-5">
            <div class="sidenav">
                <h3>Content</h3>
                <div class="list-group navlist">
                    <div class="toc-wrap">
                        <a class="list-group-item toc toc-side" href="#workshops">Workshops</a>
                        <a class="list-group-item toc toc-side" href="#presentations">Presentations</a>
                        <a class="list-group-item toc toc-side" href="#social-media">Social media</a>
                        <a class="list-group-item toc toc-side" href="#newsletter">Biweekly newsletter</a>
                        <a class="list-group-item toc toc-side" href="#poster">Poster</a>
                        <a class="list-group-item toc toc-side" href="#brochure">Brochure</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-8 col-sm-10 justify-content-sm-center">
                <div class="toc-section" id="workshops">
                    <p>
                    Safety and security will go here
                    </p>
                    <h2>Heading</h2>
                    <h4>H4</h4>
                    <p>
                    Safety
                    </p>
<script src="{{ url_for('static', filename = '../../../../static/js/contribution.js')}}"></script>

</body>
</html>

{% endblock %}