{% extends "layout.html" %}
  
{% block title %}Team{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

    <body>
        <section class="py-5">
            <div class="container py-5" data-bss-hover-animate="bounce">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2"></p>
                        <h2 class="fw-bold">All Star Talent</h2>
                        <p class="text-muted">No matter the project, our team can handle it.&nbsp;</p>
                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1" style="color: var(--bs-body-color);">DryLab</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2" style="color: var(--bs-body-color);">WetLab</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3" style="color: var(--bs-body-color);">Human-Prac</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-4" style="color: var(--bs-body-color);">SW Team</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> Drylab</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> Wetlab</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="blog-card blog-card-blog">
                                                <div class="blog-card-image">
                                                    <a href="#"> <img class="img" src="../../static/img/./team/avatar1.jpg"> </a>
                                                    <div class="ripple-cont"></div>
                                                </div>
                                                <div class="blog-table">
                                                    <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> SW team</h6>
                                                    <h4 class="blog-card-caption">
                                                        <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                                                    </h4>
                                                    <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    <div class="ftr">
                                                        <div class="author">
                                                            <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                                                        </div>
                                                        <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <p>Content for tab 2.</p>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <p>Content for tab 3.</p>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-4">
                            <p>Content for tab 3.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>

{% endblock %}