{% extends "layout.html" %}
  
{% block title %}Team{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <body>
        <section class="py-5">
            <div class="container py-5">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2 class="fw-bold text-success mb-2">Formosa iGEM</h2>
                    </div>
                </div>
           
                <!--- Accordion of Subteams --->
                <div class="accordion">
                    <!--- Wetlab Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1259464025171820584/IMG_8212.jpg?ex=6696fb87&is=6695aa07&hm=435c836a22f76e354aa0299e1be4fd396c96eab8abc03f4792f1d6e63c53da3f&">
                        <div class="caption">
                          <h2>Wet Lab</h2>
                        </div>
                    </div>
                    
                    <!--- Drylab Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1261539827455627308/IMG_3421.jpg?ex=66974885&is=6695f705&hm=a4bcd25b868a6f3931af0a7677cd6f69070e08ec0b0b99ba68ccb095a3c06d5c&">
                        <div class="caption">
                          <h2>Dry Lab</h2>
                        </div>
                    </div>
                    <!--- Human Practice Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1258980317432385648/IMG_0003.jpg?ex=6697334a&is=6695e1ca&hm=daca4b39e18adcc3ec66afb3b1954c36261bb009e9599091c4851ac1809efec7&">
                        <div class="caption">
                          <h2>Human Practice</h2>
                        </div>
                    </div>
                    <!--- Software Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1238682466101760120/IMG_7425.jpg?ex=66972f71&is=6695ddf1&hm=d8017d35a7c7d11b170733b3fce9e3bb3841e2a3aa1e1466bce4695c06cb651d&">
                        <div class="caption">
                          <h2>Software</h2>
                        </div>
                    </div>
                    <!--- Instructor and Advisor Tab --->
                    <div class="tab">
                        <img src="https://res.cloudinary.com/read-cv/image/upload/v1/1/profilePhotos/9CxEXrndLSbf5Xxfa9KjdovKGZB2/open-graph-c2e77a2c-0e9d-45a6-af14-3a73954ec2ef.png?_a=DATAdtAAZAA0">
                        <div class="caption">
                          <h2>Instructor and Advisors</h2>
                        </div>
                    </div>
                </div>

                <h1>Periodic Table of Members</h1>
                
                <!--- Periodic Table of Members --->
                <body>
                    <table class="membertable">
                        <!--- Row 1 --->
                        <tr>
                            <!--- Card 1 --->
                            <td class="swmember">
                                <num>1</num>
                                <div class="card">
                                    <initial class="init-color">Jc</initial><br>
                                    <name>Jocelyn</name>
                                </div>
                                <div class="bio">
                                    <div class="bd-callout-card">
                                        <div class="img">
                                        <img src="https://static.igem.wiki/teams/4580/wiki/headshots/siddhanth-bhatt.jpg">
                                        </div>
                                        <div class="infos">
                                        <div class="name">
                                            <h3><strong>Siddhanth Bhatt</strong></h3>
                                            <h5>Team Lead</h5>
                                            <h4><i>Biomedical Engineering, 2025</i> </h4>
                                        </div>
                                        <p class="text">
                                            Ode to Sid, our office star, He leads our team, both near and far, From comedy clubs to class and flights, Sid conquers all with his dazzling sights.
                                            In meetings, he's a stand-up king, Each punchline makes our laughter sing, Though classes challenge him, we say, "Hooray!" He's doing "pretty okay" every single day.
                                            With travel agents, he's quite the talker, Booking trips like a seasoned walker, To Sid, we raise a cheer and shout, Our Team Lead, without a doubt!
                            
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <!--- Blankspace --->
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>

                            <!--- Card 2 --->
                            <td class="hpmember">
                                <num>2</num>
                                 <div class="card">
                                    <initial class="init-color">Da</initial><br>
                                    <name>Daniel</name>  
                                </div>
                           
                            </td>
                        </tr>

                        <!--- Row 2 --->
                        <tr>
                            <!--- Card 3 --->
                            <td class="swmember">
                            <num>3</num>
                                <div class="card">
                                <initial class="init-color">Cd</initial><br>
                                <name>Cindy</name>
                            </div>
                           
                            </td>

                            <!--- Card 4 --->
                            <td class="swmember">
                                <num>4</num>
                                <div class="card">
                                    <initial class="init-color">Ju</initial><br>
                                    <name>Julie</name>
                                </div>
                            </td>
                            
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            
                            <!--- Card 5 --->
                            <td class="hpmember">
                                <num>5</num>
                                <div class="card">
                                    <initial class="init-color">Ni</initial><br>
                                    <name>Nina</name>
                                </div>
                            </td>

                            <!--- Card 6 --->
                            <td class="hpmember">
                                <num>6</num>
                                <div class="card">
                                    <initial class="init-color">Al</initial><br>
                                    <name>Alvin</name>
                                </div>
                            </td>

                        <!--- Card 6 --->
                            <td class="hpmember">
                                <num>6</num>
                                <div class="card">
                                    <initial class="init-color">Sp</initial><br>
                                    <name>Sophie</name>
                                </div>
                         
                                </td>
                            </tr>

                        <!--- Row 3 --->
                        <tr>
                            <!--- Card 7 --->
                            <td class="swmember">
                            <num>7</num>
                                <div class="card">
                                <initial class="init-color">Er</initial><br>
                                <name>Eric</name>
                            </div>
                     
                            </td>

                            <!--- Card 8 --->
                            <td class="jenson">
                                <num>8</num>
                                <div class="card">
                                    <initial class="init-color">Je</initial><br>
                                    <name>Jenson</name>
                                </div>
                            </td>
                            
                            <td class="blankspace"></td>

                            <!--- Card 9 --->
                            <td class="drylabmember">
                            <num>9</num>
                            <div class="card">
                                <initial class="init-color">Ph</initial><br>
                                <name>Phoebe</name>
                            </div>
              
                            </td>

                            <!--- Card 10 --->
                            <td class="drylabmember">
                                <num>10</num>
                                <div class="card">
                                    <initial class="init-color">Em</initial><br>
                                    <name>Emily</name>
                                </div>
                            </td>

                            <!--- Card 11 --->
                            <td class="justin">
                                <num>11</num>
                                <div class="card">
                                    <initial class="init-color">Ju</initial><br>
                                    <name>Justin</name>
                                </div>
                            </td>

                            <!--- Card 12 --->
                            <td class="hpmember">
                                <num>12</num>
                                <div class="card">
                                    <initial class="init-color">At</initial><br>
                                    <name>Athena</name>
                                </div>
                            </td>

                        <!--- Card 13 --->
                        <td class="hpmember">
                            <num>13</num>
                            <div class="card">
                                <initial class="init-color">Em</initial><br>
                                <name>Emma</name>
                            </div>
                        </td>
                        </tr>

                        <!--- Row 4 --->
                        <tr>
                            <!--- Card 14 --->
                            

                            <!--- Card 15 --->
                            <td class="swmember">
                                <num>15</num>
                                <div class="card">
                                    <initial class="init-color">Al</initial><br>
                                    <name>Alston</name>
                                </div>
                            </td>

                            <!--- Card 16 --->
                            <td class="timothy">
                                <num>16</num>
                                <div class="card">
                                    <initial class="init-color">Ti</initial><br>
                                    <name>Timothy</name>
                                </div>
                            </td>

                            <td class="blankspace"></td>

                            <!--- Card 17 --->
                            <td class="drylabmember">
                                <num>17</num>
                                <div class="card">
                                    <initial class="init-color">En</initial><br>
                                    <name>Enyu</name>
                                </div>
                            </td>

                            <!--- Card 18 --->
                            <td class="youshin">
                                <num>18</num>
                                <div class="card">
                                    <initial class="init-color">Yo</initial><br>
                                    <name>Youshin</name>
                                </div>
                            </td>

                            <!--- Card 19 --->
                            <td class="wetlabmember">
                                <num>19</num>
                                <div class="card">
                                    <initial class="init-color">Co</initial><br>
                                    <name>Cosmo</name>
                                </div>
                            </td>

                            <!--- Card 20 --->
                            <td class="wetlabmember">
                                <num>20</num>
                                <div class="card">
                                    <initial class="init-color">El</initial><br>
                                    <name>Ella</name>
                                </div>
                            </td>

                            <!--- Card 21 --->
                            <td class="instructor-advisor">
                                <num>21</num>
                                <div class="card">
                                    <initial class="init-color"></initial><br>
                                    <name>BLANK</name>
                                </div>
                            </td>
                        </tr>

                        <!--- Row 5 (blank) --->
                        <tr>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                        </tr>
                        
                        <!--- Row 5 --->
                        <tr>

                            <td class="blankspace"></td>

                            <!--- Card 21 --->
                            <td class="instructor-advisor">
                                <num>21</num>
                                <div class="card">
                                    <initial class="init-color">La</initial><br>
                                    <name>Laurent</name>
                                </div>
                            </td>

                            <!--- Card 22 --->
                            <td class="instructor-advisor">
                                <num>22</num>
                                <div class="card">
                                    <initial class="init-color">Ke</initial><br>
                                    <name>Kevin</name>
                                </div>
                            </td>

                            <!--- Card 23 --->
                            <td class="instructor-advisor">
                                <num>23</num>
                                <div class="card">
                                    <initial class="init-color">Br</initial><br>
                                    <name>Bryan</name>
                                </div>
                            </td>

                            <!--- Card 24 --->
                            <td class="instructor-advisor">
                                <num>24</num>
                                <div class="card">
                                    <initial class="init-color">La</initial><br>
                                    <name>Laurent</name>
                                </div>
                            </td>
                             <!--- Card 25 --->
                             <td class="instructor-advisor">
                                <num>25</num>
                                <div class="card">
                                    <initial class="init-color">Ke</initial><br>
                                    <name>Kevin</name>
                                </div>
                            </td>

                            <!--- Card 26 --->
                            <td class="instructor-advisor">
                                <num>26</num>
                                <div class="card">
                                    <initial class="init-color">Br</initial><br>
                                    <name>Bryan</name>
                                </div>
                            </td>

                            <!--- Card 27 --->
                            <td class="instructor-advisor">
                                <num>27</num>
                                <div class="card">
                                    <initial class="init-color">La</initial><br>
                                    <name>Laurent</name>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top: 2rem;" class="bioshere"></div>
                <!-- <h1>LAURENT</h1>
                <h2>Fragrance Type: Eau d'Instructor</h2>
                <p> Top Note: GOAT<br>
                    Mid Note: Photographer<br>
                    Base Note: Instructor
                </p> -->


                </body>  
            </div>
        </section>
        <script src="../../static/js/bio.js"></script>
        <script>
            $(document).ready(function () {
                $("td").click(function () {
                    $('.bioshere').empty();
                    clones = $(this.querySelector('.bio')).clone();
                    clones.appendTo('.bioshere');
                    clones.show();
                }); 
            });
        </script>
    </body>

</html>

{% endblock %}