{% extends "layout.html" %}
  
{% block title %}Team{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

    <body>
        <section class="py-5">
            <div class="container py-5" data-bss-hover-animate="bounce">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">Formosa iGEM</p>
                        <h2 class="fw-bold">Introducing the All-Star Team</h2>
                    </div>
                </div>
<!--- Accordion of Subteams --->
                <div class="accordion">
                    <!--- Wetlab Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1259464025171820584/IMG_8212.jpg?ex=6696fb87&is=6695aa07&hm=435c836a22f76e354aa0299e1be4fd396c96eab8abc03f4792f1d6e63c53da3f&">
                        <div class="caption">
                          <h2>Wet Lab</h2>
                        </div>
                    </div>
                    <!--- Drylab Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1261539827455627308/IMG_3421.jpg?ex=66974885&is=6695f705&hm=a4bcd25b868a6f3931af0a7677cd6f69070e08ec0b0b99ba68ccb095a3c06d5c&">
                        <div class="caption">
                          <h2>Dry Lab</h2>
                        </div>
                    </div>
                    <!--- Human Practice Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1258980317432385648/IMG_0003.jpg?ex=6697334a&is=6695e1ca&hm=daca4b39e18adcc3ec66afb3b1954c36261bb009e9599091c4851ac1809efec7&">
                        <div class="caption">
                          <h2>Human Practice</h2>
                        </div>
                    </div>
                    <!--- Software Tab --->
                    <div class="tab">
                        <img src="https://cdn.discordapp.com/attachments/1223489804935630859/1238682466101760120/IMG_7425.jpg?ex=66972f71&is=6695ddf1&hm=d8017d35a7c7d11b170733b3fce9e3bb3841e2a3aa1e1466bce4695c06cb651d&">
                        <div class="caption">
                          <h2>Software</h2>
                        </div>
                    </div>
                </div>

<!--- Periodic Table of Members --->
                <body>
                    <table class="membertable">
                        <!--- Row 1 --->
                        <tr>
                            <!--- Card 1 --->
                            <td class="wetlabmember">
                             <num>1</num>
                              <div class="card">
                                 <initial>Da</initial><br>
                                 <name>Daniel</name>
                             </div>
                            </td>

                            <!--- Blankspace --->
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                          

                            <!--- Card 2 --->
                            <td class="hpmember">
                                <num>2</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>
                        </tr>

                        <!--- Row 2 --->
                        <tr>
                         <!--- Card 3 --->
                         <td class="wetlabmember">
                            <num>3</num>
                             <div class="card">
                                <initial>Da</initial><br>
                                <name>Daniel</name>
                            </div>
                         </td>

                         <!--- Card 4 --->
                         <td class="wetlabmember">
                            <num>4</num>
                             <div class="card">
                                <initial>Da</initial><br>
                                <name>Daniel</name>
                            </div>
                         </td>
                         
                         <td class="blankspace"></td>
                         <td class="blankspace"></td>
                         <td class="blankspace"></td>
                         <td class="blankspace"></td>

                         <!--- Card 5 --->
                         <td class="hpmember">
                            <num>5</num>
                             <div class="card">
                                <initial>Da</initial><br>
                                <name>Daniel</name>
                            </div>
                         </td>

                        <!--- Card 6 --->
                        <td class="hpmember">
                            <num>6</num>
                             <div class="card">
                                <initial>Da</initial><br>
                                <name>Daniel</name>
                            </div>
                         </td>
                        </tr>

                        <!--- Row 3 --->
                        <tr>
                            <!--- Card 7 --->
                            <td class="wetlabmember">
                               <num>7</num>
                                <div class="card">
                                   <initial>Da</initial><br>
                                   <name>Daniel</name>
                               </div>
                            </td>
   
                            <!--- Card 8 --->
                            <td class="wetlabmember">
                               <num>8</num>
                                <div class="card">
                                   <initial>Da</initial><br>
                                   <name>Daniel</name>
                               </div>
                            </td>
   
                            <!--- Card 9 --->
                            <td class="drylabmember">
                               <num>9</num>
                                <div class="card">
                                   <initial>Da</initial><br>
                                   <name>Daniel</name>
                               </div>
                            </td>
   
                           <!--- Card 10 --->
                           <td class="drylabmember">
                               <num>10</num>
                                <div class="card">
                                   <initial>Da</initial><br>
                                   <name>Daniel</name>
                               </div>
                            </td>
                           <!--- Card 11 --->
                            <td class="drylabmember">
                               <num>11</num>
                                <div class="card">
                                   <initial>Da</initial><br>
                                   <name>Daniel</name>
                               </div>
                            </td>
   
                           <!--- Card 12 --->
                           <td class="drylabmember">
                               <num>12</num>
                                <div class="card">
                                   <initial>Da</initial><br>
                                   <name>Daniel</name>
                               </div>
                            </td>

                            <!--- Card 13 --->
                            <td class="hpmember">
                                <num>13</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                             </td>
    
                            <!--- Card 14 --->
                            <td class="hpmember">
                                <num>14</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                             </td>
                           </tr>

                        <!--- Row 4 (blank) --->
                           <tr>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                            <td class="blankspace"></td>
                           </tr>
                        
                        <!--- Row 5 --->
                           <tr>
                            <!--- Card 15 --->
                            <td class="swmember">
                                <num>15</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 16 --->
                            <td class="swmember">
                                <num>16</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 17 --->
                            <td class="swmember">
                                <num>17</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 18 --->
                            <td class="swmember">
                                <num>18</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 19 --->
                            <td class="swmember">
                                <num>19</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 20 --->
                            <td class="swmember">
                                <num>20</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 21 --->
                            <td class="swmember">
                                <num>21</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                            <!--- Card 22 --->
                            <td class="swmember">
                                <num>22</num>
                                 <div class="card">
                                    <initial>Da</initial><br>
                                    <name>Daniel</name>
                                </div>
                            </td>

                           </tr>


                </body>  
                       
                    
               
            </div>
        </section>
    </body>

</html>

{% endblock %}