#education-header {
    height: 30vw;
    width: 100vw;
    background-image: url("https://static.igem.wiki/teams/4701/wiki/bkg-education.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
    opacity: 50%;
    box-shadow:0 0 80px 80px #F6F1DA inset;
}