

#bg-green-wrap {
    color: rgb(71, 107, 53);
    padding-top: 20vh;
    padding: 5vh;
    background-color: #C1DB9B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gradbrowntogreen1 {
    background: linear-gradient(180deg, #F6F1DA 18.19%, rgb(219, 252, 154) 50.66%, #D2E6B5 75.66%, #C1DB9B 100%);
}
.gradgreentobrown1 {
    background: linear-gradient(180deg, #C1DB9B 12.19%,#D2E6B5 50.66%, rgb(230, 251, 181) 75.66%, #F6F1DA 100%);
}


/* rotating taiwan */
.earth {
    position: absolute;
    right: 1vw;
    
}
.taiwan {
  position: absolute;
  left: 1vw;
  
}
.taiwan-desc {
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.taiwan-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #3e540c;
}

.world-map{
  width: 100%;
  left:0vw;
}


.s3 {
    text-shadow: 2px 8px 6px rgba(52, 109, 213, 0.2), 0px -3px 20px rgba(255,255,255,0.4);
}

.tree1 {
    position: absolute;
    width: 15vw;
    height: 50vh;
    top: 30vh;
    left: 5vw;
    z-index: 1;
}

.solution-statement {
  position: absolute;
  left: 30vw;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1700px) {
    .taiwan-desc {
        top: 16%;
        left: 21%;
        font-size: 2rem;
    }
    .taiwan {
      width: 44vw;
      margin-right: 3vw;
    } 
    .earth {
      width: 44vw;
      margin-right: 3vw;
    } 
    .morethan {
      top: 16%;
      left: 24vw;
      font-size: 10vw;
      width: 35vw;
  }
}

@media (min-width: 1281px) and (max-width: 1699px) {
    .typing-words {
        font-size: 2.5rem;
    }
    .taiwan-desc {
        top: 20%;
        left: 23%;
        font-size: 1.7rem;
    }
    .taiwan {
      width: 42vw;
      margin-right: 3vw;
    } 
    .earth {
      width: 4vw;
      margin-right: 3vw;
    } 
    .morethan {
      top: 20%;
      left: 24vw;
      font-size: 3rem;
      width: 35vw;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
    
    .taiwan-desc {
        top: 21%;
        left: 18%;
        font-size: 1.4rem;
    }
    .taiwan {
      width: 40vw;
      margin-right: 3vw;
    } 
    .earth {
      width: 40vw;
      margin-right: 3vw;
    } 
    .morethan {
      top: 21%;
      left: 24vw;
      font-size: 2.8rem;
      width: 35vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .taiwan-desc {
        top: 9%;
        left: 17%;
        font-size: 1.2rem;
    }
    .taiwan {
      width: 33vw;
      margin-right: 3vw;
    } 
    .earth {
      width: 35vw;
      margin-right: 3vw;
    } 
    .morethan {
      top: 9vh;
      left: 20vw;
      font-size: 7vh;
      width: 38vw;
  }
}

@media (min-width: 481px) and (max-width: 767px){
    

    .taiwan {
        width: 34vw;
        margin-right: 3vw;
    }
    .earth {
      width: 34vw;
      margin-right: 3vw;
  }
    
  .morethan {
    top: 6vh;
    left: 25vw;
    font-size: 6.3vh;
    width: 35vw;
}

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .taiwan {
    width: 32vw;
    margin-right: 3vw;
  } 
  .earth {
    width: 32vw;
    margin-right: 3vw;
  } 
  .morethan {
    top: 11vh;
    left: 17vw;
    font-size: 4.5vh;
    width: 35vw;
}
}

@media (min-device-width: 100px) and (max-device-width: 319px) {
  .taiwan {
    width: 30vw;
    margin-right: 3vw;
  } 
  .earth {
    width: 30vw;
    margin-right: 3vw;
  } 
  .morethan {
    top: 11%;
    left: 17vw;
    font-size: 3vh;
    width: 35vw;
}
}

body.freeze {
    height: auto;
    overflow: auto;
  }
  
  #v0 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  
  #set-height {
    display: block;
  }
  
  section {
    z-index: 1;
    position: relative;
  }
  
  .content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
  }
  .stage {
    background: #fff;
    width: 100vw;
    height: 100vh;
  
    box-shadow: 1px 4px 11px #aaa, inset 1px 3px 6px #ccc;
  
    position: relative;
  }
  video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }
  .stage-content {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  
  .intro-video {
    height: 100vh;
  }
  .intro-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .intro-video h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: white;
    text-shadow: 2px 1px #000000;
    transform: translate(-50%, -50%);
  }
  .content {
    height: 100vh;
  }
  .content h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }


  .curtain {
    position: relative;
    overflow: hidden;
  }
  
  .curtain__scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 25%;
    transform-origin: center bottom;
  }
  .curtain__scrollbar.skrollable-between {
    position: fixed;
  }
  
  .fold {
    position: relative;
    height: 100vh;
    background-position: 50%;
    background-size: cover;
  }
  .no-touch .fold {
    background-attachment: fixed;
  }
  
  .skrollable-between.fold--interior {
    position: fixed;
  }
  
  .fold--interior {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .curtain {
    font-family: "Nova Mono";
    font-size: 8vmin;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.015em #fff;
  }
  
  .curtain__scrollbar:before {
    position: absolute;
    bottom: 1em;
    left: 50%;
    height: 1em;
    width: 1em;
    content: "";
    border: 0.05em solid #fff;
    border-radius: 100%;
    transform: translate(-50%, 0);
  }
  
  .fold:nth-of-type(2) {
    background-image: url(https://static.igem.wiki/teams/5437/igemone.jpg);
  }
  .fold:nth-of-type(3) {
    background-image: url(https://static.igem.wiki/teams/5437/igemtwo.jpg);
  }
  .fold:nth-of-type(4) {
    background-image: url(https://static.igem.wiki/teams/5437/igemthree.jpg);
  }
  .fold:nth-of-type(5) {
    background-image: url(https://static.igem.wiki/teams/5437/index/tmp/cszqsys.jpeg);
  }
  
  .fold h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    font-weight: normal;
    transform: translate(0, -50%);
  }

  