
.home-img-pos {
    position: relative; 
    top: -5vh !important;
    width: 100vw;
    height: 100vh;
    left: 0vw !important;
}

.typing-words{
    
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #295E07;
}

#bg-green-wrap {
    color: rgb(0, 0, 0);
    padding-top: 7rem;
    padding: 5rem;
    background-color: #CCD656;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#problem-title-wrap {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 2rem;
    border: 0.3rem solid rgb(71, 245, 77);
    border-radius: 1rem;
    margin-bottom: 7rem;
}

#problem-title-wrap span {
    color: rgb(30, 245, 88);
}

.gradbrowntogreen1 {
    background: linear-gradient(180deg, #F6F1DA 18.19%, #dfe784 50.66%, #d4dd6e 75.66%, #CCD656 100%);
}
.gradgreentobrown1 {
    background: linear-gradient(180deg, #CCD656 12.19%,#d4dd6e 50.66%, #dfe784 75.66%, #F6F1DA 100%);
}

.spray-text {
    font-style: normal;
    font-weight: 400;
    align-items: center;
    text-align: center;
}


  
/* rotating taiwan */
.taiwan {
    position: absolute;
    right: 1vw;
    
}

.taiwan-desc {
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.taiwan-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #3e540c;
}

.perfume-spray{
    position: absolute;
    left: 20vw;
    width: 50vw;
    height: 70vh;
 }

.s3 {
    text-shadow: 2px 8px 6px rgba(52, 109, 213, 0.2), 0px -3px 20px rgba(255,255,255,0.4);
}

.tree1 {
    position: absolute;
    width: 15vw;
    height: 50vh;
    top: 30vh;
    left: 5vw;
    z-index: 1;
}

.solution-statement {
  position: absolute;
  left: 30vw;
  margin-top: 20px;
  margin-bottom: 40px;
  
}

@media screen and (min-width: 1700px) {
    .typing-words {
        font-size: 2.5rem;
    }

    .taiwan-desc {
        top: 16%;
        left: 21%;
        font-size: 2rem;
    }
}

@media (min-width: 1281px) and (max-width: 1699px) {
    .typing-words {
        font-size: 2.5rem;
    }
    .taiwan-desc {
        top: 20%;
        left: 23%;
        font-size: 1.7rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .typing-words {
        font-size: 1.7rem;
    }
    .taiwan-desc {
        top: 21%;
        left: 18%;
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .typing-words {
        font-size: 1.4rem;
    }

    .taiwan-desc {
        top: 9%;
        left: 17%;
        font-size: 1.2rem;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .typing-words {
        font-size: 1.4rem;
    }

    #problem-title-wrap {
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 3rem;
    }

    .taiwan {
        width: 40%;
        margin-right: 3%;
    }
    .perfume-spray {
        width: 40%;
        margin-left: 3%;
    }

    .inasia {
        top: 12vh;
        left: 17vw;
        font-size: 2.1rem;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .typing-words {
        font-size: 1.4rem;
    }
}

@media (min-device-width: 100px) and (max-device-width: 319px) {
    .typing-words {
        font-size: 1rem;
    }
}

body.freeze {
    height: auto;
    overflow: auto;
  }
  
  #v0 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  
  #set-height {
    display: block;
  }
  
  section {
    z-index: 1;
    position: relative;
  }
  
  .content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
  }
  .stage {
    background: #fff;
    width: 100vw;
    height: 100vh;
  
    box-shadow: 1px 4px 11px #aaa, inset 1px 3px 6px #ccc;
  
    position: relative;
  }
  video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }
  .stage-content {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  /* .curtain-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  } */
  
  .curtain-panel {
    display: flex;
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .freeze .curtain-panel {
    display: none;
  }
  
  .curtain-panel .curtain {
    width: 50%;
    background-color: rgba(255, 166, 0, 0);
    position: relative;
    transition: transform 0.5s ease-out;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .curtain-panel .curtain:before {
    content: attr(data-title);
    text-align: center;
    width: 200%;
    position: absolute;
    top: 50%;
    line-height: 0;
    font-size: 1.1em;
    text-shadow: 1px 1px 3px #ccc;
  }
  
  .curtain-panel .left-curtain:before {
    left: 0;
  }
  
  .curtain-panel .right-curtain:before {
    right: 0;
  }
  
  .curtain-trigger {
    visibility: hidden;
    position: absolute;
  }
  
  .curtain-trigger:checked ~ .left-curtain {
    transform: translateX(calc(-100%));
  }
  
  .curtain-trigger:checked ~ .right-curtain {
    transform: translateX(calc(100%));
  }
  .left-curtain {
    border-right: 1px solid #fff;
    /* border: 1px solid #000000; */
    margin: 0;
    padding: 0;
  }
  .inside-curtain-container {
    position: relative;
    height: 100vh;
  }

  .inside-curtain-container video {
    width: 100%;
  }
  
  .intro-video {
    height: 100vh;
  }
  .intro-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .intro-video h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: white;
    text-shadow: 2px 1px #000000;
    transform: translate(-50%, -50%);
  }
  .content {
    height: 100vh;
  }
  .content h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }