p {
    color: #295e06;
    font-size: 1.15rem;
}

.accordion {
    max-width: 100%;
    height: 250px;
    display: flex;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 40px;
    border-color:#000000;
    border-width: 5px;
}

.caption {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    top: 150px;
    opacity: 0;
    padding-left: 20px;
}

.tab {
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    transition: all .5s ease;
    position: relative;
    border-color:#D08BE1;
}

.tab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab:hover img {
    opacity: .5;
}

.tab:hover {
    flex-shrink: 0;
}

.tab:hover .caption {
    transition: all .5s ease;
    opacity: 1;
}

/* --- Periodic Table --- */
.membertable {
    border-collapse: separate;
    border-spacing: 0.4rem;
    border-color:#000000;
    margin-left: auto;
    margin-right: auto;
}

.membertable .instructor-advisor {
    border: 0.1rem solid #000000;
    background-color:#D08BE1;
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .wetlabmember {
    border: 0.1rem solid #000000;
    background-color:#78C3FB;
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .drylabmember {
    border: 0.1rem solid #000000;
    background-color:#C6EBBE;
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .hpmember {
    border: 0.1rem solid #000000;
    background-color:#FF8178;
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .swmember {
    border: 0.1rem solid #000000;
    background-color:#FFFB8E;
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .justin {
    border: 0.1rem solid #000000;
    background-image: linear-gradient(to bottom right, #78C3FB, #FF8178);
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .youshin {
    border: 0.1rem solid #000000;
    background: linear-gradient(to top right, #78C3FB, #C6EBBE);
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .timothy {
    border: 0.1rem solid #000000;
    background: linear-gradient(to top right, #FFFB8E, #C6EBBE);
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}

.membertable .jenson {
    border: 0.1rem solid #000000;
    background: linear-gradient(to top right, #FFFB8E 50%, #C6EBBE);
    width: 5rem;
    height: 6rem;
    border-radius:5px;
}


.bio {
    display: none;
}

.membertable td {
    width: 4rem;
    height: 3.5rem;
    vertical-align: top;
    line-height: 80%;
    border: 0.05rem solid white;
    padding: 3px;
}

.membertable .blankspace {
    border: 0
}

.membertable .leads {
      border: 0.05rem solid #9AAADF
    }

.card {
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}

num {
    color: #000000;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 15px;
}

.inital {
    font-size: 50px;
    font-weight:bolder;
    line-height: 2rem;
    text-align: center; 

    padding-top: 1rem;
    padding-bottom: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.init-color {
    color: black;
}

name {
    font-size: 15px;
    color: #000000;
    line-height: 10%;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


#progressbar-wrap {
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
    height: 8px;
    left: 0;
}

#progressbar {
    height: 8px;
    width: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d1dc4f), color-stop(100%,#aed26e));
    /* background-color: #61824F; */
}

.page-content-wrap {
    margin: 0;
    padding: 2rem;
    padding-bottom: 7rem;
}

#notebook-content-wrap {
    text-align: justify;
}

.page-title {
    text-align: center;
    margin-top: 3rem;
}

.toc-section {
    margin-top: 3rem;
    margin-bottom: 0
}
.centered {
    position: absolute;
    top: -63vh;
    width: 75vw;
    transform: translate(-50%, -50%);
  }


.fig-wrap {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.fig {
    width: 80%;
    height: auto;
}

.sidenav {
    position: sticky;
    top: 100px;
}

.list-group {
    border: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    border: none;
    background-color: transparent;
    /* background-color: #ddffff; */
}

.navlist {
    width: 80%;
    border-radius: 15px 15px 15px 15px;
}

.toc-side:hover {
    color: rgba(186, 214, 113, 0.837);
}

.toc-side {
    border-left: 2px solid #97A23C;
    background-color: transparent;
    color: #767e2d;
    background: linear-gradient(to right, #D1DC4F 50%, transparent 50%) right;
    background-size: 200% 100%;
    transition: .5s ease-out;
    border-radius: 0.2rem 0.2rem;
    margin-bottom: 1rem;
}

.toc-side.sidenav-active {
    background-position: left;
}

/* footer */
footer a { color: black; font-weight: bold; text-decoration: none; }
footer a:hover { color: black; text-decoration: underline; }

footer {
    align-items: center;
    background-image: linear-gradient(to right, #bcd667, #e0f8de, #99d667, #91a445, #62782a);
    background-size: 500%;
    background-position: 0 0;
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
    display: flex;
    font-family: "Quicksand";
    height: 100%;
    justify-content: center;
    /* Animation */
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;
}

/* navbar */
.navbar a.dropdown-toggle::after {
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .navbar a.show.dropdown-toggle::after {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  
    
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }