p {
    color: #295e06;
    font-size: 1.15rem;
}

#progressbar-wrap {
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
    height: 8px;
    left: 0;
}

#progressbar {
    height: 8px;
    width: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d1dc4f), color-stop(100%,#aed26e));
    /* background-color: #61824F; */
}

.page-content-wrap {
    margin: 0;
    padding: 2rem;
    padding-bottom: 7rem;
}

#notebook-content-wrap {
    text-align: justify;
}

.page-title {
    text-align: center;
    margin-top: 3rem;
}

.toc-section {
    margin-top: 3rem;
    margin-bottom: 0
}
.centered {
    position: absolute;
    top: -63vh;
    width: 75vw;
    transform: translate(-50%, -50%);
  }



.fig-wrap {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.fig {
    width: 80%;
    height: auto;
}

.sidenav {
    position: sticky;
    top: 100px;
}

.list-group {
    border: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    border: none;
    background-color: transparent;
    /* background-color: #ddffff; */
}

.navlist {
    width: 80%;
    border-radius: 15px 15px 15px 15px;
}

.toc-side:hover {
    color: rgba(186, 214, 113, 0.837);
}

.toc-side {
    border-left: 2px solid #97A23C;
    background-color: transparent;
    color: #767e2d;
    background: linear-gradient(to right, #D1DC4F 50%, transparent 50%) right;
    background-size: 200% 100%;
    transition: .5s ease-out;
    border-radius: 0.2rem 0.2rem;
    margin-bottom: 1rem;
}

.toc-side.sidenav-active {
    background-position: left;
}

/* footer */
footer a { color: black; font-weight: bold; text-decoration: none; }
footer a:hover { color: black; text-decoration: underline; }

footer {
    align-items: center;
    background-image: linear-gradient(to right, #bcd667, #e0f8de, #99d667, #91a445, #62782a);
    background-size: 500%;
    background-position: 0 0;
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
    display: flex;
    font-family: "Quicksand";
    height: 100%;
    justify-content: center;
    /* Animation */
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;
}

/* navbar */
.navbar a.dropdown-toggle::after {
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .navbar a.show.dropdown-toggle::after {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  
    
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }


.hid {
    opacity: 0;
    /* transition: all 1s; */
}

.rollup {
    transform: translateY(100%);
}

.rolldown {
    transform: translateY(-100%);
}

.rollleft {
    transform: translateX(100%);
}

.rollright {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    filter: blur(0);
}

i {
    padding: 0.8rem
}

.footer-icon {
    color: black;
    padding: 0.8rem;
}

.footer-icon:hover {
    background-color: black;
    border-radius: 50%;
    color: var(--bg);
}
.carousel {
    width: 100%;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slides {
    display: flex;
    width: calc(180px * 11);
    animation: scroll 40s linear infinite;
}

.slide {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    padding: 15px;
}


.sponsor {
    width: 100%;
    height: auto;
}
.rollup {
    transform: translateY(100%);
}

.rolldown {
    transform: translateY(-100%);
}

.rollleft {
    transform: translateX(100%);
}

.rollright {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    filter: blur(0);
}

i {
    padding: 0.8rem
}

.footer-icon {
    color: black;
    padding: 0.8rem;
}

.footer-icon:hover {
    background-color: black;
    border-radius: 50%;
    color: var(--bg);
}

/* timeline */
#hp-timeline {
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 0.5rem;
    color: var(--color);
    background: var(--bgColor);
  }
  
  #hp-timeline ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: 90%;
    margin-inline: auto;
  }
  
  /* line */
  #hp-timeline ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  #hp-timeline ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  #hp-timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  #hp-timeline ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) calc(var(--dateH) / 2);
  }
  
  /* date flap */
  /* #hp-timeline ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  } */
  
  /* circle */
  #hp-timeline ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  #hp-timeline ul li .title,
  #hp-timeline ul li .descr {
    position: relative;
    padding-inline: 1.5rem;
  }
  #hp-timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  #hp-timeline ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  #hp-timeline ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  #hp-timeline ul li .descr {
      margin-top: 1rem;
  }
  