p {
    color: white;
    font-size: 1.15rem;
}

#progressbar-wrap {
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
    height: 5px;
    left: 0;
}

#progressbar {
    height: 5px;
    width: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#87e0fd), color-stop(100%,pink));
    /* background-color: #fff; */
}

#education-header {
    margin-top: 4rem;
    height: 30vw;
    width: 100vw;
    background-image: url("https://static.igem.wiki/teams/4701/wiki/bkg-education.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
}

.page-content-wrap {
    margin: 0;
    padding: 2rem;
    padding-bottom: 7rem;
}

#notebook-content-wrap {
    text-align: justify;
}

.page-title {
    text-align: center;
    margin-top: 3rem;
}

.toc-section {
    margin-top: 3rem;
    margin-bottom: 0
}

.fig-wrap {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.fig {
    width: 80%;
    height: auto;
}

.sidenav {
    position: sticky;
    top: 100px;
}

.list-group {
    border: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    border: none;
    background-color: transparent;
    /* background-color: #ddffff; */
}

.navlist {
    width: 80%;
    border-radius: 15px 15px 15px 15px;
}

.toc-side:hover {
    color: rgba(22, 217, 243, 0.837);
}

.toc-side {
    border-left: 2px solid rgb(33, 150, 243);
    background-color: transparent;
    color: white;
    background: linear-gradient(to right, rgba(15, 191, 250, 0.398) 50%, transparent 50%) right;
    background-size: 200% 100%;
    transition: .5s ease-out;
    border-radius: 0.2rem 0.2rem;
    margin-bottom: 1rem;
}

.toc-side.sidenav-active {
    background-position: left;
}


@media only screen and (max-width: 789px) {
    section {
        margin-bottom: 5rem;
    }
    #reflect-text-wrap {
        width: 90%;
        font-size: 2.3rem;
    }
    #problem-title-wrap {
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 3rem;
    }
    #problem-im-wrapper {
        flex-direction: column;
        height: 70vh;
    }
    .problem-im-wrap {
        width: 100%;
    }
    .problem-im-text h2 {
        font-size: 2rem;
    }
    .problem-im-text p {
        font-size: 1.2rem;
    }
    .problem-im {
        width: 100%;
    }
    #bg-black-wrap {
        padding: 1rem;
    }
    #bg-white-wrap {
        padding: 1rem;
    }
    #how-title-wrap {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    #how-im-wrapper {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        border: none;
    }
    #how-im-wrap {
        width: 100%;
        height: 35vh;
    }
    #how-text-wrap {
        width: 100%;
    }
    #p1-wrap {
        flex-direction: column;
        height: auto;
        width: 90vw;
        margin-bottom: 3rem;
    }
    #p1-im-wrap {
        width: 100%;
        height: 35vh;
    }
    #p1-im {
        height: 100%;
        width: auto;
    }
    #p1-text-wrap {
        width: 100%;
        margin-top: 3rem;
        font-size: 1.2rem;
        text-align: center;
    }
    #p1-text-wrap h2, #p1-text-wrap p {
        width: 100%;
    }
    #comment-wrap {
        font-size: 1.2rem;
        border: none;
    }
    #comment-wrap h3 {
        font-weight: normal;
        font-size: 1.2rem;
    }
    #p2-wrapper {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .p2-wrap {
        width: 100%;
        height: 25vh;
    }
    .p2-im-wrap {
        width: 49.5%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .p2-text-wrap {
        width: 49.5%;
        padding: 0.5rem;
    }
    .p2-text {
        background-color: transparent;
        color: black;
        width: 100%;
        font-size: 1.2rem;
    }
    .line {
        width: 0.4vh;
    }
    .dot {
        width: 1rem;
        height: 1rem;
        left: -0.4rem;
    }
    #p3-title-wrap {
        font-size: 1.2rem;
    }
    #p3-wrap {
        width: 100%;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    #p3-text-wrap {
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem;
    }
    #p3-text {
        width: 100%;
    }
    #p3-im-wrap {
        width: 100%;
        height: 30vh;
    }
    #p3-im {
        height: 100%;
        width: auto;
    }
    #p4-wrap {
        width: 100%;
        flex-direction: column;
    }
    #p4-title-wrap {
        font-size: 1.2rem;
    }
    #p4-im-wrap {
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #p4-text-wrap {
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem;
    }
    #p4-im {
        height: 100%;
        width: auto;
    }
    #page-content-wrap {
        padding: 1rem;
    }
    .team-photo-wrap {
        width: 100%;
    }
    .team-photo-text {
        font-size: 1rem;
    }
    ul {
        padding-left: 1rem;
    }
    .week-wrap {
        padding-left: 1.5rem;
    }
    #team-header {
        height: 40vh!important;
        width: auto!important;
    }
    .topnav {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .fig {
        width: 90%!important;
    }
    .nav-button {
        width: 80%;
    }
    .protocol-title input:checked ~ .protocol-content-wrap{
    max-height: 7000px!important;
    }
    .page-header {
        width: 100vw;
        height: 30vh!important;
    }
}