section {
    margin-bottom: 7rem;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

@keyframes cursor-blink {
    50% {
        opacity: 0;
    }
}

#reflect-text-1::after {
    content: '|';
    height: 0.5rem;
    animation: cursor-blink 0.3s step-end infinite alternate;
}
#reflect-text-2::after {
    content: '|';
    height: 0.5rem;
    animation: cursor-blink 0.3s step-end infinite alternate;
}
#reflect-text-3::after {
    content: '|';
    height: 0.5rem;
    animation: cursor-blink 0.3s step-end infinite alternate;
}
#reflect-text-4::after {
    content: '|';
    height: 0.5rem;
    animation: cursor-blink 0.3s step-end infinite alternate;
}


#problem-title-wrap {
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-bottom: 5vh;
}


#problem-title-wrap span {
    color: rgb(236, 101, 67);
}

img {
    height: 100%;
    user-select: none;
}

p {
    text-align: justify;
}

#problem-im-wrapper {
    display: flex;
    height: 40vh;
    width: 100vw;
}

.problem-im-wrap {
    width: 33.3%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.problem-im {
    transition: transform 5s linear;
}

.problem-im-wrap:hover .problem-im {
    transform: scale3d(1.1, 1.1, 1.1);
}

.problem-im-text {
    position: absolute;
    text-align: center;
    padding: 3vh;
    transform: scale3d(0.2, 0.2, 0.2);
    opacity: 0.5;
    transition: 1s all;
}

.problem-im-text h2 {
    color: white;
    font-size: 3rem;
}

.problem-im-text p {
    color: white;
    font-size: 1.5rem;
}

.scaleToNormal {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.to-slide-left {
    transform: translate3d(-30%, 0, 0);
    opacity: 0;
    transition: all 1s;
}

.to-slide-right {
    transform: translate3d(30%, 0, 0);
    opacity: 0;
    transition: all 1s;
}

.slide-in {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

#recycle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

#recycle-text-wrap {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    width: 50%;
}

#recycle-im-wrap {
    width: 50%;
}

#recycle-im {
    width: 100%;
    height: auto;
}

#how-title-wrap {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

#how-im-wrapper {
    display: flex;
    width: 90%;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
    /* padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem; */
    border: 0.3rem solid rgba(213, 59, 72, 1);
    border-radius: 1rem;
}

#how-im-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    height: 40vh;
}

#how-text-wrap {
    text-align: justify;
    width: 50%;
    font-size: 1.4rem;
    padding: 2rem;
    color: rgba(213, 59, 72, 1);
}

.how-im {
    position: absolute;
}

#reflect-text-wrap {
    width: 60%;
    position: absolute;
    text-align: center;
    font-size: 40vh !important;
    font-weight: bold;
}

#bg-white-wrap {
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    margin-bottom: 0;
}

#sol {
    margin-bottom: 0;
    align-items: center;
}

#sol-title-wrap {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#sol-phases {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#p1-wrap {
    display: flex;
    width: 80%;
    height: 60vh;
    margin-bottom: 7rem;
}

#p1-im-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 55%;
}

.p1-im {
    position: absolute;
    /* height: 100%;
    width: auto; */
}

#p1-text-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;
    text-align: start;
    font-size: 1.4rem;
}

#p1-text-wrap h4, #p1-text-wrap p {
    width: 70%;
}

#comment-wrap {
    text-align: center;
    border-radius: 1rem;
    border: 0.3rem solid cadetblue;
    padding: 1rem;
    font-size: 1.4rem;
}

#p2-wrapper {
    margin-top: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p2-wrap {
    display: flex;
    width: 70%;
    height: 35vh;
}

.im {
    width: 100%;
    height: auto;
}

.line {
    width: 0.5vh;
    height: 110%;
    background-color: cadetblue;
    position: relative;
}

.dot {
    position: absolute;
    top: 46%;
    left: -0.475rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: cadetblue;
}

#p2-title-wrap {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.4rem
}

.p2-im-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    width: 55%;
    padding: 2rem;
}

.p2-im {
    position: absolute;
    height: 100%;
    width: auto;
}

.p2-text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 48.25%;
    text-align: start;
    font-size: 1.4rem;
    padding-left: 3.5rem;
    /* border-left: 0.25rem solid #009ec6;
    padding-left: 2rem; */
}

.p2-text {
    background-color: cadetblue;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
}


#p3-wrap {
    margin-top: 3rem;
    display: flex;
    width: 70%;
    height: 40vh;
    margin-bottom: 5rem;
}

#p3-im-wrap {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 50%;
}

.p3-im {
    position: absolute;
    /* height: 100%;
    width: auto; */
}

#p3-text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 2rem;
    text-align: start;
    font-size: 1.4rem;
}

#p3-title-wrap {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

#p4-title-wrap {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

#p4-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#p4-im {
    width: 85%;
    height: auto;
}

#p4-text-wrap {
    font-size: 1.4rem;
    text-align: left;
    width: 50%;
    padding: 2rem;
}

#p4-im-wrap {
    width: 50%;
}

/* Head vid */

ul {
    list-style-type: none;
}

.intext-link {
    color: black;
    text-decoration: underline 0.2rem;
    text-underline-offset: 0.25;
    text-decoration-color: var(--blue);
    background: linear-gradient(to top, var(--blue) 50%, transparent 50%) top;
    background-size: 100% 200%;
    transition: .5s ease-out
}

.intext-link:hover {
    color: black;
    background-position: bottom;
}

::selection {
    background-color: var(--blue);
}

.left-aligned { margin-left: auto; }

 @keyframes cursor {
     50% {
         border-color: transparent;
     }
 }



.to-fade-in {
    opacity: 0;
    /* transform: translateY(3rem); */
    transition: opacity 2s;
}

.to-fade-in-fast {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in {
    opacity: 1;
    /* transform: translateY(0); */
}

.hid {
    opacity: 0;
    /* transition: all 1s; */
}

.rollup {
    transform: translateY(100%);
}

.rolldown {
    transform: translateY(-100%);
}

.rollleft {
    transform: translateX(100%);
}

.rollright {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    filter: blur(0);
}

@media (min-width: 40rem) {
#hp-timeline ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  #hp-timeline ul::before {
    grid-column: 2;
  }
  #hp-timeline ul li:nth-child(odd) {
    grid-column: 1;
  }
  #hp-timeline ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  #hp-timeline ul li:nth-child(2) {
    grid-row: 2/4;
  }

  #hp-timeline ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  #hp-timeline ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  #hp-timeline ul li:nth-child(odd) .date {
    border-radius: calc(var(--dateH) / 2) calc(var(--dateH) / 2);
  }
}


@media only screen and (max-width: 789px) {
    section {
        margin-bottom: 5rem;
    }
    #reflect-text-wrap {
        width: 90%;
        font-size: 30vh;
    }
    #problem-title-wrap {
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 3rem;
    }
    #problem-im-wrapper {
        flex-direction: column;
        height: 70vh;
    }
    .problem-im-wrap {
        width: 100%;
    }
    .problem-im-text h2 {
        color: white;
        font-size: 2rem;
    }
    .problem-im-text p {
        color: white;
        font-size: 1.2rem;
    }
    .problem-im {
        width: 100%;
    }
    #bg-black-wrap {
        padding: 1rem;
    }
    #bg-white-wrap {
        padding: 1rem;
    }
    #how-title-wrap {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    #how-im-wrapper {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        border: none;
    }
    #how-im-wrap {
        width: 100%;
        height: 35vh;
    }
    #how-text-wrap {
        width: 100%;
    }
    #p1-wrap {
        flex-direction: column;
        height: auto;
        width: 90vw;
        margin-bottom: 3rem;
    }
    #p1-im-wrap {
        width: 100%;
        height: 35vh;
    }
    #p1-im {
        height: 100%;
        width: auto;
    }
    #p1-text-wrap {
        width: 100%;
        margin-top: 3rem;
        font-size: 1.2rem;
        text-align: center;
    }
    #p1-text-wrap h2, #p1-text-wrap p {
        width: 100%;
    }
    #comment-wrap {
        font-size: 1.2rem;
        border: none;
    }
    #comment-wrap h3 {
        font-weight: normal;
        font-size: 1.2rem;
    }
    #p2-wrapper {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .p2-wrap {
        width: 100%;
        height: 25vh;
    }
    .p2-im-wrap {
        width: 49.5%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .p2-text-wrap {
        width: 49.5%;
        padding: 0.5rem;
    }
    .p2-text {
        background-color: transparent;
        color: black;
        width: 100%;
        font-size: 1.2rem;
    }
    .line {
        width: 0.4vh;
    }
    .dot {
        width: 1rem;
        height: 1rem;
        left: -0.4rem;
    }
    #p3-title-wrap {
        font-size: 1.2rem;
    }
    #p3-wrap {
        width: 100%;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    #p3-text-wrap {
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem;
    }
    #p3-text {
        width: 100%;
    }
    #p3-im-wrap {
        width: 100%;
        height: 30vh;
    }
    #p3-im {
        height: 100%;
        width: auto;
    }
    #p4-wrap {
        width: 100%;
        flex-direction: column;
    }
    #p4-title-wrap {
        font-size: 1.2rem;
    }
    #p4-im-wrap {
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #p4-text-wrap {
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem;
    }
    #p4-im {
        height: 100%;
        width: auto;
    }
    #page-content-wrap {
        padding: 1rem;
    }
    .team-photo-wrap {
        width: 100%;
    }
    .team-photo-text {
        font-size: 1rem;
    }
    ul {
        padding-left: 1rem;
    }
    .week-wrap {
        padding-left: 1.5rem;
    }
    #team-header {
        height: 40vh!important;
        width: auto!important;
    }
    .topnav {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .fig {
        width: 90%!important;
    }
    .nav-button {
        width: 80%;
    }
    .protocol-title input:checked ~ .protocol-content-wrap{
    max-height: 7000px!important;
    }
    .page-header {
        width: 100vw;
        height: 30vh!important;
    }
}

@media (max-width: 992px) {
    .dropdown-menu {
        display: none;
        visibility: visible;
    }
    .nav-item:hover .dropdown-menu {
        visibility: unset;
    }
}

@media (max-width: 450px) {
    .p2-im {
        width: 100%;
        height: auto;
    }
}
